#wrap {
    min-height: 100vh;
}
* {
    font-family: "NSN-B";
}
.wrapper {
    &.modaled {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        overflow: auto;
    }
}

//공통 스타일
.container {
    max-width: 1270px;
    margin: auto;

    @include maxWidth(1260px) {
        margin-right: 30px;
        margin-left: 30px;
    }

    @include maxWidth(720px) {
        margin-right: 13px;
        margin-left: 13px;
    }
}

.skip_navi {
    position: absolute;
    z-index: 9999;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;

    a {
        display: block;
        position: absolute;
        left: 0;
        top: -9999px;
        z-index: 1;
        width: 100%;
        height: 40px;
        line-height: 40px;
        background-color: #333;
        color: #fff;
        font-size: 20px;
        font-weight: 700;

        &:hover,
        &:focus {
            top: 0;
        }
    }
}

/*헤더*/
// #header {
//   box-shadow:0 0 10px rgba(0,0,0,0.1);
//   &.active {border-radius:0 0 80px 0;transition:border-radius 0.1s;
//     &:before {content:'';width:100%;height:1px;background-color:#ececec;position:absolute;left:0;top:100px;display:block;z-index:11;}
//   }

//     .gnb {@include clear; text-align: center;position: relative;
//     font-size: 0;z-index: 12;margin-left: 50px;margin-right: 50px; padding-top: 25px;

//     .logo {float: left; width: 200px;
//       a {width: 200px;background: url(../images/logo.png) no-repeat center left;height: 40px;line-height: 40px;display: block;margin-right: 30px;
//       }
//     }

//     >ul {font-size: 16px; @include clear;display: inline-block;color: #fff;float: left;
//       >li {float: left; padding: 0 30px;
//         &:hover{
//                   >a{color:#dd373b;}
//               }
//           &.active{
//                   a {position:relative;}
//                   >a::before{
//                     position:absolute;left:50%;bottom:-30px;width:100%;transform:translateX(-50%);height:2px;background-color:#dd373b;content:'';z-index:2;
//                   }
//                   .dep2_wrap{visibility:visible;z-index: 3;}
//               }
//         &:first-child {
//           a {padding-left: 0;}
//         }

//         >a {font-weight: 600;position: relative; line-height: 40px;
//            font-size: 18px;
//         }
//       }
//     }

//     .dep2 { display: none;width: 100%;position: absolute;top: 100%;left: 0;
//       z-index: 1; visibility: hidden;background-color: #fff;
//       .container {position: relative;@include clear;
//         >ul {
//           width: calc(100% - 215px);
//           min-height: 120px;
//           padding-left: 50px;
//           background: #fff;
//           @include ftItem(3, 30);
//           margin: 30px 0 30px 215px;
//           border-left: 1px solid #cecfd1;
//           >li {
//             transition: 0.3s;
//             text-align: left;
//             margin-bottom: 18px;

//             &:hover {
//               >a {border-color: #23408f;color: #23408f;
//                 background-image: url(../images/icon_dep2_on.png);
//               }
//             }

//             >a {line-height: 1.2em;font-size: 16px;padding: 12px 20px;
//               transition: 0.3s; display: block;font-weight: 500;border: 1px solid #cecfd1; border-radius: 4px; transition: 0.3s;
//               background: url(../images/icon_dep2.png) no-repeat right 21px center;
//             }
//           }
//         }
//       }
//     }
//   }

//   @include maxWidth($pc) {
//     .gnb {
//       .dep2_wrap {
//         .container {
//           >div {
//             width: 180px;

//             img {
//               width: 180px;
//             }
//           }

//           >ul {
//             width: calc(100% - 180px);
//             margin-left: 180px;
//           }
//         }
//       }
//     }
//   }

//   @include maxWidth($tab) {
//     &.active {
//       border-radius: 0;

//       &:before {
//         top: 82px;
//       }
//     }

//     .hd_top {
//       display: none;
//     }

//     .gnb {
//       .logo {
//         a {
//           padding: 16px 0;
//         }
//       }

//       >ul {
//         display: none;
//       }

//       .btn_sitemap_open {
//         float: right;
//         display: block;
//         width: 50px;
//         height: 110px;
//         background: url(../images/common/icon_hambug.png) no-repeat center right 30px auto;
//       }
//     }
//   }

//   @include maxWidth($m720) {
//     &.active {
//       &:before {
//         top: 55px;
//       }
//     }

//     height:55px;

//     .gnb {
//       .logo {
//         a {
//           width: 155px;
//           background-size: 155px auto;
//           background-image: url(../images/img_logo_m.png);
//           height: 55px;
//           padding: 0;
//         }
//       }

//       .util {
//         padding-top: 0px;

//         .search_box {
//           top: 55px;
//         }

//         .btn_search_open {
//           width: 55px;
//           height: 55px;
//           background-size: 20px auto;

//           &.active {
//             background-size: 16px auto;
//           }
//         }

//         .btn_sitemap_open {
//           width: 55px;
//           height: 55px;
//           background-size: 22px auto;
//           margin: 0;
//         }
//       }
//     }
//   }
// }

.m_gnb {
    display: none;

    @media screen and (min-width: 1080px) {
        color: #404650;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: #fff;
        z-index: 100;
        overflow-y: hidden;
        background: rgba(0, 0, 0, 0.6);

        > div {
            margin-left: 80px;
            background: #fff;
            min-height: 100%;

            .util {
                padding: 20px 25px;
                @include clear;
                background: #eee;

                ol {
                    @include clear;
                    float: left;

                    li {
                        float: left;
                        position: relative;
                        margin-right: 7px;

                        a {
                            display: inline-block;
                            line-height: 30px;
                            font-size: 13px;
                            padding: 0 40px 0 15px;
                            color: #fff;
                            background: #000 url(../images/m_join.png) no-repeat right 15px center / 9px auto;
                            border-radius: 30px;
                            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.33);
                        }

                        &:last-child {
                            a {
                                background-image: url(../images/m_login.png);
                            }
                        }
                    }
                }

                .btn_sitemap_close {
                    float: right;
                    width: 30px;
                    height: 30px;
                    background: url(../images/m_close.png) no-repeat center / 15px auto;
                }
            }
        }

        @media screen and (max-width: 1080px) {
            > ul {
                width: 100%;

                > li {
                    a {
                        display: block;
                        color: #404650;
                        background: url(../images/arrow_gnb_dep1_off.png) no-repeat right 30px center/7px auto;
                        border-bottom: 1px solid #ddd;
                    }

                    > a {
                        font-size: 18px;
                        line-height: 52px;
                        background-color: #fff;
                        font-weight: 500;
                        padding: 0 40px 0 30px;
                    }

                    .dep2_wrap {
                        display: none;
                        background-color: #f6f7fc;

                        > .container {
                            margin: 0;
                            max-width: none;
                            padding: 0 20px;

                            > div {
                                display: none;
                            }

                            > ul {
                                > li {
                                    > a {
                                        display: block;
                                        line-height: 45px;
                                        font-size: 15px;
                                        padding-left: 10px;
                                        background-position: right 10px center;
                                    }

                                    &.active2 {
                                        > a {
                                            background-image: url(../images/arrow_gnb_dep3_off.png);
                                            background-size: auto 7px;
                                        }
                                    }
                                }

                                .dep3 {
                                    display: none;
                                    padding: 18px 0;
                                    border-bottom: 1px solid #ddd;

                                    > li {
                                        > a {
                                            display: block;
                                            line-height: 32px;
                                            color: #656d7b;
                                            font-size: 14px;
                                            border-bottom: none;
                                            background: none;
                                            font-weight: 300;
                                            padding: 0 0 0 20px;

                                            &:before {
                                                content: "";
                                                display: inline-block;
                                                width: 4px;
                                                height: 4px;
                                                background-color: #b3c1d8;
                                                margin-right: 7px;
                                                vertical-align: 3px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.active2 {
                        > a {
                            background-image: url(../images/arrow_gnb_dep3_off.png);
                            background-size: auto 7px;
                        }
                    }

                    &.active {
                        > a {
                            background-color: #23408f;
                            color: #fff;
                            background-image: url(../images/arrow_gnb_dep1_on.png);
                            background-size: auto 7px;
                        }

                        .dep2_wrap {
                            > .container {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

#contents {
    @include clear;
    position: relative;

    @include maxWidth(1220px) {
    }

    @include maxWidth($tab) {
    }

    @include maxWidth($m720) {
    }
}

.page_spot {
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #dedede;
    color: #111;

    .page_tit {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;
        padding-top: 110px;
        padding-bottom: 102px;
        background-image: url(../images/SUB_VISUAL1.png);
        height: 450px;

        &.sb1 {
            background-image: url(../images/SUB_VISUAL2.png);
        }

        &.sb2 {
            background-image: url(../images/SUB_VISUAL3.png);
        }

        &.sb3 {
            background-image: url(../images/SUB_VISUAL4.png);
        }

        &.sb4 {
            background-image: url(../images/SUB_VISUAL5.png);
        }

        &.sb5 {
            background-image: url(../images/SUB_VISUAL6.png);
        }

        &.sb6 {
            background-image: url(../images/sub_visual7.png);
        }

        /*      
     &.sb1 {background-image:url(../../images/mayor/bg_page_tit_1.jpg);}
     &.sb2 {background-image:url(../../images/mayor/bg_page_tit_2.jpg);}
     &.sb3 {background-image:url(../../images/mayor/bg_page_tit_3.jpg);}
     &.sb4 {background-image:url(../../images/mayor/bg_page_tit_4.jpg);} */
        > span {
            display: block;
            font-size: 48px;
            word-break: keep-all;
            color: #fff;
            font-family: "elice";
            font-weight: 600;
            text-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
            padding-top: 110px;

            span {
                &.br {
                    display: none;
                }
            }
        }
    }

    .lnbwrap {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        position: relative;

        .lnb_btn {
            width: 88px;
            display: none;

            @include maxWidth(1080px) {
                display: block;
            }

            a {
                display: block;
                width: 100%;
                height: 100%;
            }

            &.lnbhome {
                border-right: 1px solid #dedede;

                a {
                    background: url(../images/lnb_btn_home.png) no-repeat center center;
                    background-size: 40%;
                }
            }

            &.lnbopen {
                border-left: 1px solid #dedede;
                background: url(../images/lnb_btn_open.png) no-repeat center center;
                background-size: 40%;

                &.opened {
                    background: url(../images/lnb_btn_opened.png) no-repeat center center;
                }
            }
        }
    }

    .lnb {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;

        @include maxWidth(1080px) {
            position: relative;
            width: 50%;
            flex-direction: column;

            > li {
                width: 100%;
                text-align: center;
            }
        }

        @include maxWidth(550px) {
            width: calc(100% - 176px);
        }

        > li {
            position: relative;
            vertical-align: top;
            font-family: "NSN-R";

            @include maxWidth(1080px) {
                display: none;

                &.active {
                    display: block;
                    border-color: transparent !important;

                    a {
                        padding: 30px 0;
                    }

                    &::before {
                        content: none !important;
                    }
                }
            }

            &:first-of-type {
                &:before {
                    content: none;
                }
            }

            > a {
                width: 100%;
                padding: 30px 60px;
                font-size: 16px;
            }

            &.active {
                color: #151a59;
                position: relative;
                border-bottom: 1px solid #071081;
                font-family: "NSN-EB";
                font-weight: bold;

                &:before {
                    content: "";
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    width: 20px;
                    height: 20px;
                    background: url(../images/sub_lnb_Arrow.png) no-repeat center bottom 10px;
                    transform: translate(-50%, 50%);
                    box-sizing: border-box;
                    display: block;
                }
            }

            @include minWidth(1080px) {
                &:hover {
                    color: #151a59;
                    position: relative;
                    font-weight: 600;
                    border-bottom: 1px solid #071081;

                    &:before {
                        content: "";
                        position: absolute;
                        left: 50%;
                        bottom: 0;
                        width: 20px;
                        height: 20px;
                        background: url(../images/sub_lnb_Arrow.png) no-repeat center bottom 10px;
                        transform: translate(-50%, 50%);
                        box-sizing: border-box;
                        display: block;
                    }
                }
            }
        }
    }

    .lnbdropdown {
        width: calc(50% + 2px);
        display: none;
        position: relative;
        z-index: 5;

        @include maxWidth(1080px) {
            &.on {
                display: block;
            }

            width: calc(50% + 2px);
            padding: 15px 0;
            position: absolute;
            top: 90px;
            background: #fff;
            border: 1px solid #dedede;
            border-top: none;

            .lnb {
                width: 100%;

                li {
                    &.active {
                        display: none;
                    }

                    width: 100%;

                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                        padding: 10px 0;
                        text-align: center;
                        font-size: 16px;
                    }
                }
            }
        }

        @include maxWidth(550px) {
            width: calc(100% - 174px);
        }
    }

    + #contents {
        padding: 50px 0 60px;
        min-height: 80vh;
    }
}

/*페이지 타이틀*/
.tit_lg {
    @include clear;
    padding-bottom: 50px;

    &.needflex {
        gap: 0 20px;
        align-items: center;
    }
    h2 {
        font-size: 30px;
        font-weight: 600;
        float: left;
    }

    .pro_box {
        float: right;

        > img {
            display: inline-block;
            margin-left: 10px;
        }
    }

    .spacer {
        background: url(../images/main_search_spacer.png) no-repeat center center;
        width: 10px;
        height: 17px;
    }

    &.b_bor {
        border-bottom: 1px solid #999999;
    }
}

.tit_md {
    margin-bottom: 30px;
    display: block;
    font-size: 18px;

    font-weight: 600;
}

/* 하단페이지넘버 */
.num {
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 40px;
}

.w200 {
    width: 200px;
    max-width: 200px !important;
}

.w50 {
    width: 50%;
}

.table {
    th {
        font-weight: 500;
        text-align: left;
        border-top: 1px solid #999;
        border-bottom: 1px solid #999;
        padding: 18px 0;
    }

    td {
        border-bottom: 1px solid #999;
        padding: 35px 0;

        > div {
            display: inline-block;
        }
    }
}

.table2 {
    th,
    td {
        padding: 20px 0;
        font-size: 15px;
        font-weight: 600;
        border-bottom: 1px solid #999999;
        text-align: center;
    }

    th {
        background-color: #d7e9ff;
        border-top: 1px solid #999999;
    }

    td {
        &.left {
            text-align: left;
        }
    }
}

.type_list {
    @include clear;

    > li {
        float: left;
        margin-right: 40px !important;
        line-height: 1.2em;

        label {
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
            padding-right: 10px;
        }

        input {
            display: inline-block;
            width: 20px;
            height: 20px;
            padding: 0;
            vertical-align: middle;
            background-size: cover;
            margin-right: 5px;
            margin-top: 1px;

            &[type="checkbox"] {
                background-image: url("../images/chk_off.jpg");
            }

            &[type="checkbox"]:checked {
                background-image: url("../images/chk_on.jpg");
            }

            &[type="radio"] {
                background-image: url("../images/radio_off.png");
            }

            &[type="radio"]:checked {
                background-image: url("../images/radio_on.png");
            }
        }

        &:last-of-type {
            margin-right: 0 !important;
        }
    }
}

/* 헤더 */
#header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 3;
    $headH: 110px;
    color: #fff;
    transition: 0.3s;
    &:hover {
        background-color: rgba(0, 0, 0, 0.5);

        > .container {
            &::before {
                background-color: #374958;
                width: 100%;
                height: 1px;
                position: absolute;
                top: 111px;
                left: 0;
                z-index: 1;
                display: block;
                content: "";
            }
        }
    }
    > .container {
        padding: 0 40px;
        gap: 0 20px;
        @include maxWidth(720px) {
            padding: 0 20px;
        }
    }
    .container {
        width: 100%;
        display: flex;
        max-width: 1880px;
        @include clear;
        position: relative;
        box-sizing: border-box;

        &::before {
            background-color: transparent;
            width: 100%;
            height: 1px;
            position: absolute;
            top: 111px;
            left: 0;
            z-index: 1;
            display: block;
            content: "";
        }

        &:after {
            content: none;
        }
    }

    .logo {
        height: 110px;
        a {
            width: 188px;
            background: url(../images/logo.png) no-repeat center center;
            height: 100%;
            line-height: 110px;
            display: block;
        }
    }

    .util {
        margin-left: auto;
        @include clear;

        > ul {
            display: flex;
            gap: 0 20px;
            align-items: center;
            &::after {
                content: none;
            }

            > li {
                &.log_idtf {
                    display: flex;
                    align-items: center;
                    gap: 0 20px;
                    position: relative;
                    a,
                    p {
                        &.loggedin {
                            display: block;
                        }
                        &.loggedout {
                            display: none;
                        }
                    }
                    p {
                        &.loggedin {
                            display: flex;
                            align-items: center;
                            gap: 0 20px;

                            .usrnm {
                                font-size: 14px;
                            }
                        }
                    }
                    .usrmn {
                        position: absolute;
                        z-index: 99;
                        top: 50px;
                        left: 31px;
                        box-shadow: 0 0 1px #000;
                        background: #c7dfff;
                        border-radius: 2px;
                        padding: 0 10px;
                        display: none;

                        &.poped {
                            display: block;
                        }

                        &::before {
                            content: "";
                            display: block;
                            position: absolute;
                            top: -7px;
                            left: 50%;
                            transform: translateX(-50%) rotate(-45deg);
                            width: 14px;
                            height: 14px;
                            background: #c7dfff;
                        }

                        &::after {
                            content: none;
                        }
                        li {
                            display: unset;
                            a {
                                padding: 10px 0;
                                width: 100%;
                                height: 100%;
                                display: block;
                                text-align: center;
                                color: #444;
                                font-weight: 600;
                            }
                            &:first-child {
                                a {
                                    border-bottom: 1px solid #328eff;
                                }
                            }
                        }
                    }
                }
                > ul {
                    > li {
                        &:last-of-type {
                            display: none;
                        }
                    }
                }
                .langch {
                    padding-right: 5px;
                    .rvled {
                        display: none;
                    }
                }
                a {
                    font-weight: 400;
                    font-size: 14px;
                    color: #fff;
                }
            }
        }

        .btn_search_open {
            display: inline-block;
            background: url(../images/search_btn.png) no-repeat center;
            width: 23px;
            height: 110px;
            /* &.active{background-image: url(../images/icon_search_close.png);
      + .search_box{display: block;}
      } */
        }

        .open_gnb {
            background: url(../images/sitemap_btn.png) no-repeat center;
            width: 23px;
            height: 110px;
            display: inline-block;
            vertical-align: middle;
        }

        @include maxWidth(1080px) {
            li {
                &:first-child {
                    display: none;
                }

                &:nth-child(2) {
                    display: none;
                }

                &:nth-child(3) {
                    display: none;
                }
            }
        }

        @include maxWidth(720px) {
            .open_gnb {
                height: 70px;
            }
        }
    }

    .m_btn {
        display: none;
    }

    /*   .hd_md{
      .container{display: table;
        >*{display: table-cell;vertical-align: middle;}
      }
  } */
    .hd_menu {
        width: 50%;

        .container {
            width: 100%;
        }
    }

    #gnb {
        width: 100%;
        position: relative;
        z-index: 1;
        overflow: hidden;
        @include clear;

        .container {
            @include clear;
        }

        .gnb_hd {
            display: none;
        }

        .dep1 {
            display: flex;
            justify-content: space-between;

            &::after {
                content: none;
            }

            > li {
                position: relative;
                width: auto;

                > a {
                    display: table;
                    width: 100%;
                    height: 110px;
                    font-size: 18px;
                    font-weight: 600;
                    @include maxWidth(1280px) {
                        font-size: 16px;
                    }

                    span {
                        display: table-cell;
                        vertical-align: middle;
                        text-align: center;
                    }
                }
            }
        }

        .dep2 {
            position: absolute;
            left: 0;
            top: 100%;
            z-index: 1;
            width: 100%;
            padding: 20px 10px;
            text-align: center;
            word-break: keep-all;
            color: #666;
            font-size: 16px;
            font-weight: 500;

            li {
                a {
                    margin-bottom: 10px;
                }

                &:hover {
                    color: #fff;
                }
            }
        }

        .m_util {
            display: none;
        }
    }
}

@include maxWidth(1260px) {
    #header {
        .container {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 1080px) {
    .container {
        margin: 0 20px;
        max-width: 100%;
    }

    #header {
        &:hover {
            background-color: unset;

            > .container {
                &::before {
                    display: none;
                }
            }
        }

        #gnb {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            overflow-x: hidden;
            overflow-y: auto;
            display: none;

            .dep1 {
                > li {
                    > a {
                        span {
                            text-align: left;
                        }
                    }
                }
            }
        }
    }

    #header .hd_menu .logo a {
        background-position: top left;
        height: 60px;
    }

    #header .hd_menu {
        width: unset;
    }

    #header .util > div > div {
        display: none;
    }

    #header .util > div .logo {
        position: absolute;
        top: 20px;
        display: block;
        left: 20px;
        content: "";
    }

    #header .util > div .logo a {
        background-size: 240px auto;
        background-position: top 5px left;
        /*220930*/
    }

    #header .hd_menu #gnb {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        display: none;
        background: #fff;
        z-index: 100;
    }

    #header .hd_menu #gnb .container:after {
        content: "";
        display: block;
        clear: both;
    }

    #header .hd_menu #gnb:before {
        content: none;
    }

    #header .hd_menu #gnb .gnb_hd {
        width: 100%;
        height: 110px;
        line-height: 110px;
        text-align: right;
        display: block;
        background: #fff;
        position: relative;
    }

    #header .hd_menu #gnb .gnb_hd:after {
        content: "";
        display: block;
        clear: both;
    }

    #header .hd_menu #gnb .gnb_hd img {
        position: absolute;
        left: 20px;
        top: 25px;
        width: 240px;
        /* 220930 */
    }

    #header .hd_menu #gnb .gnb_hd .close_gnb {
        vertical-align: middle;
        width: 33px;
        margin-right: 20px;
        background: url(../images/m_gnb_close.png) no-repeat center right;
        background-size: auto 28px;
        height: 60px;
    }

    #header .hd_menu .m_btn {
        display: block;
        text-align: right;
    }

    #header .hd_menu .m_btn .open_gnb {
        width: 40px;
        height: 50px;
        background: url(../images/btn_sitemap_open2.png) no-repeat top right;
        background-size: 30px auto;
    }

    #header .hd_menu .m_btn .logo a {
        background-size: auto 40px;
        line-height: 40px;
    }

    #header #gnb .container:after {
        content: "";
        display: block;
        clear: both;
    }

    #header #gnb:before {
        content: none;
    }

    #header #gnb .gnb_hd:after {
        content: "";
        display: block;
        clear: both;
    }

    #header #gnb .dep1 {
        width: 100%;
        padding: 0 0 30px 25px;
        flex-direction: column;
    }

    #header #gnb .dep1 > li {
        width: 100%;
        border-bottom: 1px solid #dde1ea;
    }

    #header #gnb .dep1 > li > a {
        display: table;
        width: 100%;
        height: 50px;
        text-align: left;
        font-size: 24px;
        color: #000;
        line-height: 60px;
    }

    #header #gnb .dep1 > li > a.menu_btn {
        position: relative;
    }

    #header #gnb .dep1 > li > a.menu_btn:after {
        content: "";
        position: absolute;
        right: 25px;
        top: 50%;
        background: url(../images/icon_gnb_dep1_off.png) no-repeat center/20px auto;
        width: 20px;
        height: 20px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        transition: all 0.3s;
    }

    #header #gnb .dep1 > li > div {
        position: static;
        visibility: visible;
        min-height: auto;
        display: none;
        background-color: #fff;
    }

    #header #gnb .dep1 > li > div:before,
    #header #gnb .dep1 > li > div:after {
        content: none;
    }

    #header #gnb .dep1 > li > div > div {
        display: none;
    }

    #header #gnb .dep1 > li.active > a span:before,
    #header #gnb .dep1 > li.active > a span:after {
        content: none;
    }

    #header #gnb .dep1 > li.active > a.menu_btn:after {
        background: url(../images/icon_gnb_dep1_on.png) no-repeat center/20px auto;
    }

    #header #gnb .dep1 > li.active > div {
        visibility: visible;
    }

    #header .hd_menu #gnb .dep1 > li > div {
        position: static;
        visibility: visible;
        min-height: auto;
        display: block;
    }

    #header .hd_menu #gnb .dep1 > li > div > div {
        margin: 0;
    }

    #header .hd_menu #gnb .dep1 > li > div > div > div {
        display: none;
    }

    #header .hd_menu #gnb .dep1 > li > div::before,
    #header .hd_menu #gnb .dep1 > li > div::after {
        display: none;
    }

    #header .hd_menu #gnb .dep2 > li {
        display: block;
        width: 100%;
    }

    #header .hd_menu #gnb .dep2 > li::after {
        display: none;
    }

    #header #gnb .dep2 li:hover > a {
        text-decoration-line: none;
    }

    #header .hd_menu #gnb .dep2 > li > a {
        font-size: 20px;
        line-height: 50px;
        height: auto;
        padding: 0;
        width: 100%;
        display: block;
        border-bottom: 0;
        position: relative;
        font-weight: 500;
        text-align: left;
        color: #666;
        margin-bottom: 0;
    }

    #header #gnb .dep2 > li > a.menu_btn:after {
        content: "";
        position: absolute;
        right: 25px;
        top: 50%;
        background: url(../images/lnb_arrow_down.png) no-repeat center/14px auto;
        width: 14px;
        height: 9px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    #header #gnb .dep2 > li.active > a.menu_btn:after {
        background: url(../images/lnb_arrow_up.png) no-repeat center/14px auto;
    }

    #header #gnb .dep2 {
        border-top: 2px solid #7196ff;
        display: none;
        position: relative;
        padding: 0;
        padding-left: 25px;
    }

    #header #gnb .dep2:before {
        content: none;
    }

    #header #gnb .dep2 > li {
        border-bottom: 1px solid #dde1ea;
        display: block;
    }

    #header #gnb .dep2 > li > h2 {
        display: none;
    }

    #header #gnb .dep2 > li:last-of-type {
        border-bottom: 0;
    }

    #header #gnb .dep2 > li > a:after {
        content: none;
    }

    #header #gnb .dep2 > li.active > a:before {
        content: "";
        background-color: #fff;
    }

    #header #gnb .dep2 > li.active > a.menu_btn {
        position: relative;
    }

    #header #gnb .dep2 > li .dep3 {
        padding-left: 0;
        display: none;
        width: 100%;
        padding-left: 20px;
        height: auto;
    }

    #header #gnb .dep2 > li .dep3 > li {
        width: 100%;
        float: none;
        display: block;
        margin-bottom: 5px;
        padding-left: 0;
        line-height: 60px;
    }

    #header #gnb .dep2 > li .dep3 > li:before {
        content: none;
    }

    #header #gnb .dep2 > li .dep3 > li > a {
        /* 221014 */
        font-size: 19px;
        color: #555;
        display: inline-block;
        width: 100%;
    }

    #header #gnb .dep3 {
        border-top: 1px solid #dde1ea;
        display: none;
        position: relative;
        padding: 0;
        padding-left: 25px;
    }

    #header #gnb .dep3 > li {
        border-bottom: 1px solid #dde1ea;
        display: block;
    }

    #header #gnb .dep3 > li:last-child {
        border-bottom: none;
    }

    #header #gnb .m_util > li:first-of-type {
        border-right: 1px solid #80a6e3;
    }

    #header .hd_menu #gnb .m_util {
        display: block;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    #header .hd_menu #gnb .m_util:after {
        content: "";
        display: block;
        clear: both;
    }

    #header .hd_menu #gnb .m_util > li {
        float: left;
        width: 50%;
        text-align: center;
    }

    /* 220928 수정 */
    #header .hd_menu #gnb .m_util > li.loginname {
        width: 100%;
        padding: 20px 0;
        height: 65px;
        border-bottom: 1px solid #ccc;
        border-right: none;
    }

    #header .hd_menu #gnb .m_util > li {
        border-right: 1px solid #ccc;
    }

    #header .hd_menu #gnb .m_util > li:last-child {
        border-right: none;
    }

    #header .hd_menu #gnb .m_util > li a img {
        display: block;
        margin: auto;
    }

    #header .hd_menu #gnb .m_util > li a {
        font-size: 20px;
        text-align: center;
        color: #555;
        padding: 20px 0;
    }
}

@media screen and (max-width: 720px) {
    #header {
        .container {
            height: 120px;
        }

        .util {
            ul {
                height: 100%;
            }
        }
    }
}

/* 푸터 */

.footer {
    .container {
        max-width: 1270px;
        border-left: 1px solid #c8c8c8;
        border-right: 1px solid #c8c8c8;

        > ul {
            padding: 40px 20px;
            text-align: right;
            border-bottom: 1px solid #c8c8c8;

            li {
                text-align: right;
                display: inline-block;
                padding: 0 10px;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }
            }
        }

        .adr {
            padding: 40px 70px 110px;
            @include clear;

            ol {
                background: url(../images/footer_logo.png) no-repeat center left;
                padding-left: 153px;
                height: 60px;
                font-size: 14px;

                font-weight: 600;
                float: left;
            }

            .website {
                float: right;
                width: 235px;
                position: relative;

                .btn {
                    position: relative;
                    width: 100%;
                    border: 2px solid #b1b1b1;
                    border-radius: 42px;
                    height: 42px;
                    padding: 0 45px 0 30px;
                    text-align: left;
                    background: #2d457c url(../images/website_arrow_down.png) no-repeat right 32px center;
                    z-index: 1;
                    color: #aaa;

                    &.active {
                        background-image: url(../images/website_arrow_up.png);
                    }
                }

                > ul {
                    padding-top: 20px;
                    display: none;
                    position: absolute;
                    left: 0;
                    top: 55%;
                    width: 100%;
                    max-height: 120px;
                    overflow-x: hidden;
                    overflow-y: auto;
                    border: 2px solid #b1b1b1;
                    border-radius: 0 0 5px 5px;

                    li {
                        padding: 10px 28px;
                        border-bottom: 1px solid #b1b1b1;

                        &:last-child {
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }

    &.sub {
        background-color: #2d457c;
        color: #aaa;
    }

    &.main {
        .container {
            max-width: 1200px;

            > ul {
                position: relative;
            }

            .adr {
                ol {
                    color: #444;
                }

                .website {
                    .btn {
                        background-color: #fff;
                        color: #000;
                    }

                    > ul {
                        background-color: #fff;
                    }
                }
            }
        }
    }

    @include maxWidth(1260px) {
        &.main {
            .container {
                ul {
                    &::after {
                        left: 77px;
                    }

                    &::before {
                        right: 149px;
                        height: 1500px;
                        z-index: 0;
                    }
                }
            }
        }
    }

    @include maxWidth(1100px) {
        &.main {
            .container {
                ul {
                    &::before {
                        right: 139px;
                    }
                }
            }
        }
    }

    @include maxWidth(1080px) {
        &.main {
            .container {
                ul {
                    &::after {
                        left: 103px;
                    }

                    &::before {
                        right: 102px;
                        height: 2000px;
                    }
                }
            }
        }

        .container {
            .adr {
                ol {
                    margin-top: 40px;
                }
            }
        }
    }

    @include maxWidth(887px) {
        .container {
            > ul {
                padding: 40px 10px;

                li {
                    padding: 0 3px;
                    font-size: 14px;
                }
            }
        }
    }

    @include maxWidth(720px) {
        .container {
            border-left: unset;
            border-right: unset;

            > ul {
                display: none;
            }

            .adr {
                ol {
                    background-position: center top;
                    padding-left: 0;
                    padding-top: 75px;
                    text-align: center;
                }

                .website {
                    float: unset;
                    margin: auto;
                }
            }
        }
    }
}
