/* NanumSquareNeo */
@font-face {
    font-family: 'NSN-R';
    src: url('../fonts/NanumSquareNeoTTF-bRg.eot');
    src: url('../fonts/NanumSquareNeoTTF-bRg.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NanumSquareNeoTTF-bRg.woff2') format('woff2'),
        url('../fonts/NanumSquareNeoTTF-bRg.woff') format('woff'),
        url('../fonts/NanumSquareNeo-bRg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'NSN-B';
    src: url('../fonts/NanumSquareNeoTTF-cBd.eot');
    src: url('../fonts/NanumSquareNeoTTF-cBd.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NanumSquareNeoTTF-cBd.woff2') format('woff2'),
        url('../fonts/NanumSquareNeoTTF-cBd.woff') format('woff'),
        url('../fonts/NanumSquareNeo-cBd.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'NSN-EB';
    src: url('../fonts/NanumSquareNeoTTF-dEb.eot');
    src: url('../fonts/NanumSquareNeoTTF-dEb.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NanumSquareNeoTTF-dEb.woff2') format('woff2'),
        url('../fonts/NanumSquareNeoTTF-dEb.woff') format('woff'),
        url('../fonts/NanumSquareNeo-dEb.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }