.contents.main {
    .main_visualwrap {
        width: 100%;
        height: 850px;

        @include maxWidth(720px) {
            height: 580px;
        }
        // .txt_box{
        //   h2 {
        //     padding: 100px 25px 0;
        //     // width: 550px;
        //     margin-bottom: 35px;
        //     font-family: "SUIT-R";

        //     span {
        //       display: block;
        //       line-height: 80px;

        //       em {
        //         font-family: "SUIT-B";
        //         color: #007aff;
        //       }

        //       &.mv_eng {
        //         font-family: "SUIT-R";
        //         line-height: 56px;
        //         @include maxWidth(720px) {
        //           font-size: 5.9vw;
        //           line-height: 100%;
        //         }
        //       }
        //     }

        //     @include maxWidth(720px) {
        //       width: 100%;
        //       font-size: 10vw;

        //       span {
        //         line-height: 100%;
        //       }
        //     }
        //   }
        // }
        .txt_box {
            padding-top: 80px;
            max-width: 900px;
        }
        h2 {
            padding: 100px 0 30px;
            color: #fff;
            span {
                display: block;
                font-size: 40px;
                font-family: "SUIT-M";

                &.sv_txt {
                    font-size: 30px;
                    margin-bottom: 28px;
                    font-family: 'SUIT-R';
                }
            }
            em {
                font-family: "SUIT-B";
                font-size: 48px;
            }
            @include maxWidth(720px) {
                span {
                    font-size: 32px;
                    &.sv_txt {
                        font-size: 24px;
                    }
                }
                em {
                    font-size: 48px;
                }
            }
        }
        a.view_more {
            display: flex;
            align-items: center;
            width: 140px;
            background: #fff;
            justify-content: center;
            height: 42px;
            color: #000;
            border-radius: 21px;
            line-height: 150%;
        }
        .bgslide {
            width: 100%;
            height: 100%;
            position: relative;

            .swiper-slide {
                position: relative;
                
                &::after {
                    content: '';
                    position: absolute;
                    display: block;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0,0,0,0.5);
                    z-index: -1;
                }
            }

            // 메인비쥬얼 bg
            .mv01 {
                background: url(../images/main_visual01.png) no-repeat center center;
            }
            .mv02 {
                background: url(../images/main_visual02.png) no-repeat center center;
            }
            .mv03 {
                background: url(../images/main_visual03.png) no-repeat center center;
            }

            .mv_conwrap {
                width: 100%;
                position: absolute;
                bottom: 200px;
                z-index: 55;

                .needflex {
                    // padding: 0 25px;
                    width: 550px;
                    justify-content: space-between;
                    align-items: center;

                    @include maxWidth(720px) {
                        width: 100%;
                    }

                    .swiper-pagination {
                        position: static;
                        display: flex;
                        align-items: center;
                        .swiper-pagination-bullet {
                            width: 20px;
                            height: 20px;
                            background: #fff;
                            opacity: 0.4;
                        }
                        .swiper-pagination-bullet-active {
                            width: 64px;
                            border-radius: 40px;
                            opacity: 1;
                            background: #13523B;
                        }
                    }

                    a {
                        font-family: "SUIT-B";
                        font-size: 24px;
                        color: #222;
                        position: relative;

                        &::after {
                            content: "";
                            position: absolute;
                            bottom: 5px;
                            left: 0;
                            width: 100%;
                            height: 1px;
                            background: #222;
                        }
                    }
                }
            }
        }
    }

    // Quickmenu
    .qmenuwrap {
        .container {
            background: #fff;
            box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.2);
            border-radius: 20px;
            position: relative;
            z-index: 55;
            top: -120px;
            display: flex;
            align-items: center;
            padding: 45px 0;
            @media screen and (max-width: 1260px) {
                flex-direction: column;
                padding: 25px 0;
            }

            .qm_txt {
                flex-grow: 1;
                box-sizing: border-box;
                text-align: center;
                color: #007aff;
                border-right: 2px solid #007aff;
                font-size: 48px;
                padding: 20px 0;
                line-height: 36px;
                @media screen and (max-width: 1260px) {
                    border-right: none;

                    em {
                        display: inline !important;
                    }
                }

                em {
                    display: block;
                    font-family: "SUIT-SB";
                }
            }
            .slidewrap {
                width: calc(100% - 300px);
                padding: 0 50px;
                display: flex;
                gap: 0 15px;
                @media screen and (max-width: 1260px) {
                    width: 100%;
                    padding: 0 50px;
                    gap: 0 10px;
                }
                @media screen and (max-width: 720px) {
                    padding: 0 20px;
                    gap: 0 5px;
                }

                .qmenu-button-prev,
                .qmenu-button-next {
                    flex-shrink: 0;
                    width: 14px;
                    display: block;
                    height: 50px;
                    flex-shrink: 0;
                    background-image: url(../images/qmenu_arrow.png);
                    background-repeat: no-repeat;
                    align-self: center;
                    cursor: pointer;
                }
                .qmenu-button-prev {
                    background-position: 0 center;
                }
                .qmenu-button-next {
                    background-position: right 0 center;
                }
            }
            .swiperQmenu {
                width: calc(100% - 48px);
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                flex-grow: 1;

                .swiper-wrapper {
                    top: 0;
                    left: 0;

                    .swiper-slide {
                        flex-shrink: 0;
                        text-align: center;
                        .imgwrap {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 60px;
                            margin-bottom: 24px;

                            img {
                                object-fit: scale-down;
                            }
                        }
                    }
                }
            }
        }
    }

    .noticewrap {
        margin-bottom: 80px;
        .container {
            gap: 120px 40px;
            box-sizing: border-box;
            @media screen and (max-width: 960px) {
                flex-wrap: wrap;

                > div {
                    width: 100% !important;
                }
            }
            > div {
                width: calc((100% - 40px) / 2);
                flex-shrink: 0;
            }
        }

        .div_left {
            .tab_list {
                padding: 0 20px;
                gap: 0 10px;
                position: relative;

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    background: #000;
                    height: 1px;
                    z-index: 5;
                }
                li {
                    font-size: 22px;
                    font-family: "SUIT-R";
                    border-bottom: 11px solid transparent;
                    width: 130px;
                    height: 55px;
                    text-align: center;

                    @include maxWidth(720px) {
                        font-size: 20px;
                        line-height: 55px;
                    }

                    &.active {
                        font-size: 26px;
                        border-color: #007aff;
                        font-family: "SUIT-B";
                        position: relative;
                        z-index: 6;
                        @include maxWidth(720px) {
                            font-size: 22px;
                        }
                    }
                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .tab_con_list {
                > div {
                    display: none;

                    &.active {
                        display: block;
                    }

                    ul {
                        border-bottom: 1px solid #bfbfbf;
                        @media (hover: hover) {
                            li:hover {
                                background: #f2f6ff;
                            }
                        }
                        li {
                            padding: 20px 0 20px 15px;
                            border-bottom: 1px solid #bfbfbf;

                            &:last-of-type {
                                border-bottom: unset;
                            }
                            a {
                                width: 100%;
                                display: flex;
                                align-items: center;
                                dl {
                                    width: calc(100% - 110px);
                                    flex-grow: 0;
                                    padding: 15px 5px 15px 0;
                                    border-right: 1px solid #bcbaba;

                                    dt {
                                        font-size: 18px;
                                        font-family: "SUIT-B";
                                        white-space: nowrap;
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                        margin-bottom: 20px;
                                    }
                                    dd {
                                        min-height: 45px;
                                        word-break: keep-all;
                                        display: -webkit-box;
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                        -webkit-line-clamp: 2;
                                        -webkit-box-orient: vertical;
                                    }
                                }
                                time {
                                    flex: 0 0 110px;
                                    text-align: center;
                                    font-size: 14px;
                                    span {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .div_right {
            min-height: 660px;
            display: flex;
            flex-direction: column;
            .noti_top {
                margin-bottom: 18px;
                position: relative;
                display: flex;
                align-items: center;
                h4 {
                    font-size: 26px;
                    font-family: "SUIT-B";
                }
                .swiper-pagination {
                    margin-left: auto;
                    max-width: 150px;
                    height: 20px;
                    position: static;

                    .swiper-pagination-bullet {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
            .noti_con {
                flex-grow: 1;
                border: 1px solid #ccc;
                border-radius: 20px;
                padding: 50px 40px;

                @media screen and (max-width: 720px) {
                    padding: 20px;
                }
                .swiperNt {
                    height: 100%;
                    overflow: hidden;
                }
                .swiper-slide {
                    width: 100%;
                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                        padding: 50px;
                        border-radius: 20px;
                        background: #f2f6ff;
                        @media screen and (max-width: 720px) {
                            padding: 40px 30px;
                        }

                        .noti_tit {
                            font-size: 20px;
                            font-family: "SUIT-B";
                            color: #000;
                            line-height: 30px;
                            margin-bottom: 13px;

                            .noti_num {
                                display: block;
                                font-size: 26px;
                                font-family: "SUIT-SB";
                                color: #1281fe;
                            }
                        }

                        .imgwrap {
                            height: 230px;
                            margin-bottom: 28px;
                            border-radius: 8px;
                            overflow: hidden;

                            img {
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    .newswrap {
        padding-top: 90px;
        padding-bottom: 80px;
        background: #eee;

        .news-button-prev,
        .news-button-next {
            position: absolute;
            top: 0;
            width: 14px;
            height: 30px;
            display: block;
            flex-shrink: 0;
            background-image: url(../images/qmenu_arrow.png);
            background-repeat: no-repeat;
            align-self: center;
            cursor: pointer;
            z-index: 99;
        }
        .news-button-prev {
            left: 200px;
            background-position: 0 center;
        }
        .news-button-next {
            right: 200px;
            background-position: right 0 center;
        }
        .sec_tit {
            font-size: 60px;
            font-family: "SUIT-SB";
            color: #222;
            text-align: center;
            margin-bottom: 30px;
        }
        .swiperNst {
            overflow: hidden;
            max-width: 760px;
            margin: 0 auto;
            margin-bottom: 10px;
            position: relative;
        }
        .newstab_list {
            display: flex;
            align-items: center;

            li {
                font-size: 26px;
                text-align: center;
            }

            .swiper-slide-active {
                font-size: 30px;
                font-family: "SUIT-B";
            }
        }
        .news_tab_con {
            overflow: hidden;
        }
        .newscon_list {
            width: 100%;
            display: flex;

            li {
                width: 100%;
                display: none;

                &.active {
                    display: block;
                }

                .newscon_item {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 40px 40px;
                    text-align: center;
                    article {
                        width: 32%;
                        max-width: 400px;
                        a {
                            .imgwrap {
                                margin-bottom: 16px;
                            }

                            .atc_textwrap {
                                .atc_tag {
                                    display: block;
                                    width: 90px;
                                    height: 26px;
                                    line-height: 26px;
                                    background: #007aff;
                                    color: #fff;
                                    margin-bottom: 10px;
                                    font-family: "SUIT-R";
                                    font-size: 16px;
                                }
                                .atc_tit {
                                    text-align: left;
                                    font-family: "SUIT-B";
                                    font-size: 18px;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 2;
                                    display: -webkit-box;
                                    margin-bottom: 15px;
                                    word-break: keep-all;
                                    min-height: 51px;
                                }
                                time {
                                    text-align: left;
                                    display: block;
                                    font-size: 14px;
                                    font-family: "SUIT-B";
                                    color: #666;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .sub_visualwrap {
        width: 100%;
        height: 580px;
        .bgslide {
            width: 100%;
            height: 100%;
            position: relative;

            .swiper-wrapper {
                position: relative;
                z-index: 3;

                > li {
                    background-size: cover;
                }
            }
            .txt_box {
                padding-top: 68px;
            }
            h2 {
                color: #ffffff;
                span {
                    display: block;
                    font-size: 40px;

                    &.sv_txt {
                        font-size: 30px;
                        // margin-bottom: 28px;
                    }
                }
                em {
                    font-family: "SUIT-R";
                    font-size: 60px;
                }
                @include maxWidth(720px) {
                    span {
                        font-size: 32px;
                        &.sv_txt {
                            font-size: 24px;
                        }
                    }
                    em {
                        font-size: 48px;
                    }
                }
            }
            a.view_more {
                display: flex;
                align-items: center;
                width: 140px;
                background: #ffffff;
                justify-content: center;
                height: 42px;
                color: #000;
                border-radius: 21px;
                line-height: 150%;
                margin-top: 28px;
            }
            > .container {
                position: relative;

                .swiper-pagination {
                    position: absolute;
                    width: unset;
                    bottom: 56px;
                    z-index: 5;
                    @include maxWidth(720px) {
                        left: 50%;
                        transform: translateX(-50%);
                        bottom: 20px;
                    }

                    .swiper-pagination-bullet {
                        width: 20px;
                        height: 20px;
                        background: #fff;
                        opacity: 0.4;
                    }
                    .swiper-pagination-bullet-active {
                        width: 64px;
                        background: #13523B;
                        border-radius: 40px;
                        opacity: 1;
                    }
                }
            }
        }
        .sv01 {
            background: url(../images/sub_visual03.png) no-repeat center center;
        }
        .sv02 {
            background: url(../images/bye.png) no-repeat center center;
        }
        .sv03 {
            background: url(../images/eco.png) no-repeat center center;
        }
    }
}

/* ----------------  NEWS 슬라이드 탭 메뉴 ---------------- */
.slide_tab {
    .list {
        margin-bottom: 10px;
        .tab_box {
            position: relative;
            margin: 0 auto;
            max-width: 890px;
            font-size: 0;
            overflow: hidden;
            transform: translate(0, 100px);
            opacity: 0;
            @include maxWidth(1080px) {
                margin: 0 auto 20px auto;
            }
            .btns_tab {
                width: 100%;
                .btns_tab_inner {
                    white-space: nowrap; /* --------------------- 이전 사용자가 슬릭 사용하는 요소 -----------------------*/
                    //&::after{content:""; position:absolute; top:0; left:0; width:100%; height:100px;}

                    .slide_item {
                        padding: 0 20px;
                        text-align: center;
                        height: 60px;
                        line-height: 60px;
                        opacity: 0.7;
                        font-size: 28px;
                        color: #000;
                        cursor: pointer;
                        //&.slick-current + .slide_item {opacity:1;}

                        a {
                            margin-top: 1px;
                        }
                        &.active {
                            font-weight: 600;
                            a {
                                span {
                                    font-size: 30px;
                                }
                            }
                        }
                        @include maxWidth(720px) {
                            padding: 0 5px;
                            font-size: 20px;
                            height: 50px;
                            line-height: 50px;
                            a {
                                height: 58px;
                            }
                            &.active {
                                a {
                                    span {
                                        font-size: 22px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .btn_tabArrow {
                align-items: center;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 9999;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                img {
                    vertical-align: -26px;
                }
            }
            .btn_tabArrow_l {
                left: 30%;
                img {
                    padding-left: 7px;
                    padding-top: 5px;
                }
            }
            .btn_tabArrow_r {
                right: 30%;
                img {
                    padding-left: 10px;
                    padding-top: 5px;
                }
            }
            .count {
                width: 100%;
                text-align: center;
                margin-top: 20px;
                > span {
                    font-size: 16px;
                    color: #888888;
                    > span {
                        color: #222;
                        &.current {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .list_box {
            .tabPanels {
                &.on {
                }
                .info_box.on {
                    display: block;
                }
                .info_box {
                    display: none;
                    position: relative;
                    left: 0;
                    top: 0;
                    //컨텐츠 부분
                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        gap: 40px;
                        @include maxWidth(720px) {
                            gap: 20px;
                        }
                        li {
                            @include maxWidth(1080px) {
                            }
                            a {
                                .imgwrap {
                                    margin-bottom: 16px;
                                }

                                .atc_textwrap {
                                    .atc_tag {
                                        display: block;
                                        text-align: center;
                                        width: 90px;
                                        height: 26px;
                                        line-height: 26px;
                                        background: #007aff;
                                        color: #fff;
                                        margin-bottom: 10px;
                                        font-family: "SUIT-R";
                                        font-size: 16px;
                                    }
                                    .atc_tit {
                                        text-align: left;
                                        font-family: "SUIT-B";
                                        font-size: 18px;
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                        -webkit-box-orient: vertical;
                                        -webkit-line-clamp: 2;
                                        display: -webkit-box;
                                        margin-bottom: 15px;
                                        word-break: keep-all;
                                        min-height: 51px;
                                    }
                                    time {
                                        text-align: left;
                                        display: block;
                                        font-size: 14px;
                                        font-family: "SUIT-B";
                                        color: #666;
                                    }
                                }
                            }
                            a {
                                transition: 0.6s;
                                .img {
                                    background: url(../images/icon_menu2_bg.png) no-repeat center;
                                    width: 147px;
                                    height: 140px;
                                    display: block;
                                    transition: 0.3s;
                                    img {
                                        display: block;
                                        margin: auto;
                                        padding: 35px 0;
                                    }
                                    &.bg_blue {
                                        background: url(../images/icon_menu2_bg_blue.png) no-repeat;
                                    }
                                }
                                em {
                                    margin-top: 10px;
                                    text-align: center;
                                    display: block;
                                }
                            }
                            &:first-child {
                                margin-left: 0;
                            }
                            &:last-child {
                                margin-right: 0;
                                a {
                                    em {
                                        font-weight: 500;
                                    }
                                }
                            }
                            @media (hover: hover) {
                                &:hover {
                                    position: relative;
                                    a {
                                        .img {
                                            transform: translate(0, -10%);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    } //탭메뉴 목록 끝
    &.on {
        .list {
            .tab_box {
                transform: translate(0, 0);
                opacity: 1;
                transition: transform 1s, opacity 1s;
                transition-delay: 0.1s;
                .count {
                    transform: translate(0, 0);
                    opacity: 1;
                    transition: transform 1s, opacity 1s;
                    transition-delay: 0.2s;
                }
                ol {
                    li {
                        transform: translate(0, 0);
                        opacity: 1;
                        transition: transform 0.8s, opacity 0.8s;
                        &:nth-child(1) {
                            transition-delay: 0.3s;
                        }
                        &:nth-child(2) {
                            transition-delay: 0.4s;
                        }
                        &:nth-child(3) {
                            transition-delay: 0.5s;
                        }
                        &:nth-child(4) {
                            transition-delay: 0.6s;
                        }
                        &:nth-child(5) {
                            transition-delay: 0.7s;
                        }
                        &:nth-child(6) {
                            transition-delay: 0.8s;
                        }
                    }
                }
            }
        }
    } //탬메뉴 애니메이션 끝
} //텝메뉴 끝

/* NEWS 텝메뉴 */
#news {
    background-color: #eeeeee;
    h3 {
        font-size: 60px;
        display: block;
        margin: auto;
        text-align: center;
        margin-bottom: 20px;
        b {
            font-weight: 600;
        }
    }
    .list {
        .tab_box {
            @include maxWidth(1080px) {
            }
            .btns_tab {
                .btns_tab_inner {
                    .slide_item {
                        a {
                        }
                        &.active {
                            a {
                                span {
                                }
                            }
                        }
                        @include maxWidth(1080px) {
                            a {
                            }
                        }
                    }
                }
            }
            .btn_tabArrow {
                img {
                }
                &.active,
                &:hover {
                    &::before {
                    }
                }
            }
            .btn_tabArrow_l {
                img {
                }
            }
            .btn_tabArrow_r {
                img {
                }
            }
            .count {
                > span {
                    > span {
                        &.current {
                        }
                    }
                }
            }
        }
        .list_box {
            .tabPanels {
                &.on {
                }
                .info_box {
                    //컨텐츠 부분
                    ul {
                        justify-content: center;
                        li {
                            flex: 1 1 30%;
                            @include maxWidth(1020px) {
                                flex: 1 1 45%;
                                min-width: 165px;
                            }
                            a {
                                img {
                                    width: 100%;
                                }
                                .txt_box {
                                    margin-top: 10px;
                                    height: 48px;
                                    @include ell2;
                                    line-height: 1.5;
                                }
                            }
                            &:first-child {
                            }
                            &:last-child {
                                a {
                                    em {
                                    }
                                }
                            }
                            @media (hover: hover) {
                                &:hover {
                                    a {
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    } //탭메뉴 목록 끝
}
