.contents.main {
  .main_visualwrap {
    width: 100%;
    height: 770px;

    .bgslide {
      width: 100%;
      height: 100%;
      position: relative;

      // 메인비쥬얼 bg
      .mv01 {
        background: url(../images/main_visual01.png) no-repeat center center;
      }
      .mv02 {
        background: sandybrown;
      }
      .mv03 {
        background: seagreen;
      }


      .mv_conwrap {
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 55;

          
        h2 {
          padding: 100px 25px 0;
          width: 550px;
          font-size: 80px;
          letter-spacing: -8px;
          margin-bottom: 35px;
          font-family: 'nsn-l';

          span {
            display: block;
            line-height: 80px;

            em {
              font-family: 'nsn-b';
              color: #007aff;
            }

            &.mv_eng {
              font-size: 46px;
              font-family: 'nsn-r';
              letter-spacing: -2.6px;
              line-height: 56px;
            }
          }
        }

        .needflex {
          padding: 0 25px;
          width: 550px;
          justify-content: space-between;
          align-items: center;
          .swiper-pagination {
            position: static;
            display: flex;
            align-items: center;
            .swiper-pagination-bullet {
              width: 20px;
              height: 20px;
            }
            .swiper-pagination-bullet-active {
              width: 64px;
              border-radius: 40px;
            }
          }

          a {
            font-family: 'nsn-b';
            font-size: 24px;
            color: #222;
            border-bottom: 1px solid #222;
            line-height: 16px;
          }
        }
      }
    }

  }

  // Quickmenu
  .qmenuwrap {

    .container {
      width: 100%;
      background: #fff;
      box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      position: relative;
      z-index: 55;
      top: -80px;
      display: flex;
      align-items: center;
      padding: 45px 0;

      .qm_txt {
        flex-shrink: 0;
        width: 300px;
        text-align: center;
        color: #007aff;
        border-right: 2px solid #007aff;
        font-size: 48px;
        letter-spacing: -5px;
        line-height: 36px;

        em {
          display: block;
          font-family: 'nsn-eb';
        }
      }
      .slidewrap {
        width: calc(100% - 300px);
        padding: 0 50px;
        display: flex;
        gap: 0 15px;

        .qmenu-button-prev,
        .qmenu-button-next {
          width: 14px;
          display: block;
          height: 50px;
          flex-shrink: 0;
          background-image: url(../images/qmenu_arrow.png);
          background-repeat: no-repeat;
          align-self: center;
          cursor: pointer;
        }
        .qmenu-button-prev {
          background-position: 0 center;
        }
        .qmenu-button-next {
          background-position: right 0 center;
        }
      }
      .swiperQmenu {
        width: calc(100% - 48px);
        display: flex;
        gap: 0 10px;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .swiper-wrapper {
          top: 0;
          left: 0;

          .swiper-slide {
            flex-shrink: 0;
            text-align: center;
            a {
            }

            .imgwrap {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 60px;
              margin-bottom: 24px;

              img {
                object-fit: scale-down;
              }
            }
          }
        }

      }
    }
  }

  .noticewrap {
    margin-bottom: 80px;
    .container {
      gap: 0 40px;
      box-sizing: border-box;
      > div {
        width: calc((100% - 40px)/2);
        flex-shrink: 0;
      }
    }

    .div_left {
      .tab_list {
        padding: 0 20px;
        gap: 0 10px;
        position: relative;

        &::after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          background: #000;
          height: 1px;
          z-index: 5;
        }
        li {
          font-size: 22px;
          font-family: 'nsn-r';
          border-bottom: 11px solid transparent;
          width: 130px;
          height: 55px;
          text-align: center;


          &.active {
            font-size: 26px;
            border-color: #007aff;
            font-family: 'nsn-b';
            position: relative;
            z-index: 6;
          }
          a {
            display: block;
            width: 100%;
            height: 100%;
          }
        }
      }

      .tab_con_list {
        > div {
          display: none;

          &.active {
            display: block;
          }

          ul {
            border-bottom: 1px solid #bfbfbf;
            @media (hover: hover) {
              li:hover {
                background: #f2f6ff;

              }
            }
            li {
              padding: 15px;
              border-bottom: 1px solid #bfbfbf;

              &:last-of-type {
                border-bottom: unset;
              }
              a {
                width: 100%;
                display: flex;
                align-items: center;
                dl {
                  width: calc(100%  - 110px);
                  flex-grow: 0;
                  padding: 15px 5px 15px 0;
                  border-right: 1px solid #bcbaba;

                  dt {
                    font-size: 18px;
                    font-family: 'nsn-b';
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    margin-bottom: 20px;
                  }
                  dd {
                    min-height: 45px;
                    word-break: keep-all;
                    display: -webkit-box;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;                    
                  }
                }
                time {
                  flex: 0 0 110px;
                  text-align: center;
                  font-size: 14px;
                  span {
                    display: block;
                  }
                }
              }
            }
          }
        }
      }
    }

    .div_right {
      min-height: 660px;
      display: flex;
      flex-direction: column;
      .noti_top {
        margin-bottom: 18px;
        position: relative;
        display: flex;
        align-items: center;
        h4 {
          font-size: 26px;
          font-family: 'nsn-b';
        }
        .swiper-pagination {
          margin-left: auto;
          width: 90px;
          height: 20px;
          position: static;

          .swiper-pagination-bullet {
            width: 20px;
            height: 20px;
          }
        }
      }
      .noti_con {
        flex-grow: 1;
        border: 1px solid #ccc;
        border-radius: 20px;
        padding: 50px 40px;
        .swiperNt{
          height: 100%;
          overflow: hidden;
        }
        .swiper-slide {
          width: 100%;
          a {
            display: block;
            flex-grow: 1;
            width: 100%;
            height: 100%;
            padding: 50px;
            border-radius: 20px;
            background: #f2f6ff;
          }
        }
      }
    }
  }

  .newswrap {
    padding-top: 90px;
    padding-bottom: 80px;
    background: #eee;
    .container {

    }
    .sec_tit {
      font-size: 60px;
      font-family: 'nsn-eb';
      color: #222;
      text-align: center;
      margin-bottom: 30px;
    }
    .swiperNst {
      overflow: hidden;
      width: 760px;
      margin: 0 auto;
      margin-bottom: 10px;
      position: relative;

      .news-button-prev,
      .news-button-next {
        position: absolute;
        top: 0;
        width: 14px;
        height: 30px;
        display: block;
        flex-shrink: 0;
        background-image: url(../images/qmenu_arrow.png);
        background-repeat: no-repeat;
        align-self: center;
        cursor: pointer;
        z-index: 99;
      }
      .news-button-prev {
        left: 200px;
        background-position: 0 center;
      }
      .news-button-next {
        right: 200px;
        background-position: right 0 center;
      }
    }
    .newstab_list {
      display: flex;
      align-items: center;

      li {
        font-size: 26px;
        text-align: center;
        a {
        }
      }

      .swiper-slide-active {
        font-size: 30px;
        font-family: 'nsn-b';
      }
    }
    .swiperNsc {
      overflow: hidden;
    }
    .newscon_list {
      width: 100%;
      display: flex;

      li {
        width: 100%;

        .newscon_item {
          display: flex;
          flex-wrap: wrap;
          gap: 40px 2%;
          text-align: center;
          article {
            width: 32%;
            max-width: 400px;
            a {
                
              .imgwrap {
                margin-bottom: 16px;
              }

              .atc_textwrap {
                .atc_tag {
                  display: block;
                  width: 90px;
                  height: 26px;
                  line-height: 30px;
                  background: #007aff;
                  color: #fff;
                  margin-bottom: 10px;
                  font-family: 'nsn-r';
                  font-size: 16px;
                }
                .atc_tit {
                  text-align: left;
                  font-family: 'nsn-b';
                  font-size: 18px;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 2;
                  display: -webkit-box;
                  margin-bottom: 15px;
                  word-break: keep-all;
                  min-height: 51px;
                }
                time {
                  text-align: left;
                  display: block;
                  font-size: 14px;
                  font-family: 'nsn-b';
                  color: #666;
                }
              }
            }
          }
        }
      }
    }
  }
  .sub_visualwrap {
    width: 100%;
    height: 580px;
    .bgslide {
      width: 100%;
      height: 100%;
      position: relative;
      .mv_conwrap{
        position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 55;
    .container{
      position: relative;
      height: 100%;
    }
    h2{
      span{
        display: block;
      }
    }
      }
    }
    .sv01 {
      background: red;
    }
    .sv02 {
      background: blanchedalmond;
    }
    .sv03 {
      background: cadetblue;
    }
    .sv04 {
      background: salmon;
    }
    .sv05 {
      background: darkcyan;
    }
    .swiper-pagination{
      position: absolute;
      width: unset;
      left: 20px;
      bottom: 56px;
      .swiper-pagination-bullet{
        width: 20px;
        height: 20px;
        background: #d4d5d9;
        opacity: 1;
      }
      .swiper-pagination-bullet-active{
        width: 64px;
        background: #0044ff;
        border-radius: 40px;
      }
    }
  }
}
