#contents {
  .banner {
    position: relative;

    .slide_tit {
      position: absolute;
      top: 30%;
      left: 3%;
      z-index: 2;

      > h2 {
        max-width: 600px;
        width: 100%;
        display: block;
        color: #fff;
        font-size: 36px;
        text-shadow: 1px 1px 6px #000;

        b {
          display: block;
          font-size: 60px;
          margin-left: -2px;
          margin-top: -10px;
          letter-spacing: -4.5px;
        }

        span {
          font-size: 16px;
          display: block;
          font-weight: 600;
          letter-spacing: 0;
        }
      }
    }

    .slide_box {
      position: relative;

      .video_wrap {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100vh;

        video {
          position: absolute;
          z-index: 1;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      /*  .slide_btn{ position: absolute; left: 45%; top:28%; width: 100%; display: block;z-index:1; transform: translateX(-50%);
        .pagination_dot {text-align:center;  margin-right: 10px; display: inline-block; 
          li {float:left;font-size:1rem;margin:0 10px; 
            button {$dotSize : 20px; color: #fff; height: 36px; line-height: 36px;
                width:$dotSize;overflow:hidden; opacity: 0.5;}
            &.slick-active button { 
                border-bottom: 2px solid #fff;opacity: 1;
              }
          }
        }
        .control { display: inline-block;
          :nth-child(n) {display:inline-block; font-size:1rem;margin:0 5px;vertical-align:top;}
          .btn {
              &.next,&.prev {position: absolute; bottom: 300%; right: 105px; background: #000 url('../images/banner_next.png') no-repeat center center; opacity: 40%;
                border-radius: 50px; width: 80px; height: 80px;
              }
              &.prev { position: absolute;left: 105px;
                background:#000 url('../images/banner_prev.png') no-repeat center center;
              } 
              &.pause {display: inline-block; background:url('../images/slide_pause.png') no-repeat center center;
                width: 9px; height: 12px; margin: -5px 0;
              }
              &.play {background:url('../images/slide_play.png') no-repeat center center;}
          }
        }
      } */
    }

    @include maxWidth($m720) {
      .slide_tit {
        position: unset;
        background: linear-gradient(0deg, #17557c, #0a2033);
        max-width: none;

        h2 {
          text-align: center;
          padding-top: 120px;
          margin: auto;
          font-size: 29px;

          b {
            font-size: 42px;
          }

          span {
            font-size: 11.5px;
          }
        }
      }

      .slide_box {
        .video_wrap {
          video {
            height: 65%;
          }
        }
      }
    }
  }

  .section1 {
    > .swiper {
      overflow: visible;

      @include maxWidth(840px) {
        overflow: hidden;
      }
    }

    max-width: 1044px;

    ul {
      width: 100%;
      z-index: 1;
      margin-top: -110px;
      position: relative;
      display: flex;
      flex-wrap: nowrap;

      &.on {
        > li {
          &:first-child {
            &.up {
              transform: translateY(-60px);
            }

            &.down {
              transform: translateY(45px);
            }
          }

          &:nth-child(2) {
            &.up {
              transform: translateY(-10px);
            }

            &.down {
              transform: translateY(60px);
            }
          }

          &:last-child {
            &.up {
              transform: translateY(-100px);
            }

            &.down {
              transform: translateY(20px);
            }
          }

          // &.up {
          //   transform: translateY(-40px);
          // }
          // &.down {
          //   transform: translateY(40px);
          // }
        }
      }

      @include maxWidth(720px) {
        &::after {
          display: none !important;
        }

        &::before {
          display: none !important;
        }
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        background-color: #c8c8c8;
        width: 1px;
        height: 200px;
        left: 0;
        bottom: -102px;
        z-index: -1;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        background-color: #c8c8c8;
        width: 1px;
        height: 800px;
        right: 0;
        bottom: -501px;
        z-index: -1;
      }

      li {
        width: 27.402%;
        min-width: 280px;
        height: 521px;
        flex: 1;
        position: relative;
        transition: all 0.3s;

        &.slitem01 {
          a {
            background: url(../images/bg_slitem01.png) no-repeat center
              center/cover;
          }
        }

        &.slitem02 {
          a {
            background: url(../images/bg_slitem02.png) no-repeat center
              center/cover;
          }
        }

        &.slitem03 {
          a {
            background: url(../images/bg_slitem03.png) no-repeat center
              center/cover;
          }
        }

        a {
          width: 100%;
          height: 100%;
          display: block;
          background-color: #071734;
          color: #fff;
          padding: 30px;
          text-align: center;

          dl {
            text-align: left;
            min-height: 200px;

            dt {
              font-size: 30px;
              line-height: 0.9;
              margin-bottom: 20px;

              span {
                font-weight: 200;
              }
            }

            dd {
              font-size: 17px;
            }
          }
        }

        &:nth-child(2) {
          margin-top: -65px;

          &::before {
            content: "";
            display: block;
            position: absolute;
            background-color: #c8c8c8;
            width: 1px;
            height: 500px;
            bottom: -500px;
            left: 0;
            z-index: -1;
          }

          &::after {
            content: "";
            display: block;
            position: absolute;
            background-color: #c8c8c8;
            width: 1px;
            height: 370px;
            top: 440px;
            right: 0;
            z-index: -1;
          }
        }

        &:last-child {
          margin-top: 50px;
        }
      }
    }

    @include maxWidth(1080px) {
      ul {
        justify-content: space-evenly;

        li {
          width: 30%;
          margin-right: 10px;

          &:nth-child(2) {
            margin-top: 0;

            &::after {
              height: 700px;
              top: 100px;
            }
          }

          &:last-child {
            margin-top: 0;
            margin-right: 0;
          }
        }
      }
    }

    @include maxWidth(840px) {
      padding: 0 20px;
      margin-top: -50px;

      ul {
        margin-top: 0;
        margin: auto;
        padding: 0;
        width: 100%;
      }
    }

    @include maxWidth(720px) {
      position: unset;
      margin-top: -355px;
    }
  }

  .section2 {
    margin-top: 160px;
    @include maxWidth(1260px) {
      margin-top: 260px;
    }


    .art {
      height: 519px;
      padding: 90px 0;
      position: relative;
      z-index: 1;
      display: flex;
      gap: 0 100px;
      background-color: #f5f5f5;

      @include maxWidth(1260px) {
        height: unset;
        background: none;
      }

      .bgwrap {
        width: 874px;
        height: 500px;
        position: relative;
        top: -174px;
        background: url(../images/section2_img.png) no-repeat center center;

        @include maxWidth(1260px) {
          flex-shrink: 0;
          z-index: 4;
        }
        @include maxWidth(930px) {
          width: calc(100% - 50px);
        }

        p {
          font-size: 36px;
          color: #bababa;
          position: absolute;
          top: 100px;
          left: 40%;
          @include maxWidth(1260px) {
            left: 5%;
          }
        }
      }


      .textwrap {
        max-width: 500px;
        word-break: keep-all;
        @include maxWidth(1260px) {
          background-color: #f5f5f5;
          padding: 190px 20px 50px 30px;
          position: absolute;
          right: 0;
          bottom: 0;
        }
        @include maxWidth(930px) {
          max-width: unset;
          width: calc(100% - 50px);
        }

        h2 {
          font-size: 36px;
          font-weight: 600;
          color: #444;
          margin-bottom: 50px;
          line-height: 2.5rem;
          font-weight: 300;
          @include maxWidth(600px) {
            font-size: 30px;
          }
          @include maxWidth(400px) {
            font-size: 24px;
          }

          b {
            font-weight: 500;
            display: block;
          }
        }

        p {
          font-weight: 700;
          display: block;
          margin-bottom: 15px;
        }

        span {
          font-weight: 300;
        }
      }
    }

    .notice {
      padding: 0 113px;
      display: flex;
      flex-wrap: nowrap;
      position: relative;
      z-index: 1;

      .notice_titwrap {
        position: absolute;
        transform: translate(-50%, -50%);
        display: block;
        left: -40px;
        @include maxWidth(1730px) {
          left: 60px;
        }
        @include maxWidth(1530px) {
          left: 200px;
        }
        @include maxWidth(1080px) {
          display: none;
        } 

        h6 {
          font-size: 140px;
          font-family: 'Trebuchet MS';
          font-weight: bold;
          color: #393939;
          opacity: .16;
          position: relative;
          z-index: 5;
          @include maxWidth(1730px) {
            font-size: 120px;
          }
        }
        &::after {
          content: '';
          display: block;
          width: 276px;
          height: 128px;
          background: #ff7676;
          position: absolute;
          top: -5px;
          right: -112px;
          z-index: 4;
          @include maxWidth(1730px) {
            width: 206px;
            height: 98px;
            right: -72px;
          }
        }
      }

      @include maxWidth(1080px) {
        display: none;
      }

      > div {
        flex: 1;
        border-left: 1px solid #c8c8c8;

        @include maxWidth(1280px) {
          &:first-of-type {
            flex: 1.3;
          }

          &:nth-of-type(2) {
            flex: 1;
          }

          &:nth-of-type(3) {
            flex: 0.8;
          }
        }

        &:last-of-type {
          border-right: 1px solid #c8c8c8;
        }
      }

      ul {
        padding: 0;
        margin: 0;
      }
    }

    .notice_viewport {
      width: 348px;
      overflow: hidden;
      position: relative;
    }

    .btns {
      width: 100%;
      padding: 30px 20px;
      position: absolute;
      bottom: 0;
      z-index: 2;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      filter: brightness(0.6);
    }
    .notice_view {
      width: 3132px;
      position: relative;

      > div {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-wrap: nowrap;
        width: 1044px;

        > div {
          width: 33.33%;
          min-width: 348px;
          flex: 0 1 auto;
          // padding: 50px 0 75px 0;
          padding: 50px 0 0 0;
          text-align: center;
        }
      }
    }

    .notice_list {
      display: flex;
      flex-direction: column;

      > li {
        text-align: center;
        padding: 45px 0;
        cursor: pointer;
        color: #999;
        transition: all 0.3s;

        &:hover {
          background-color: #5cb9d0;
          color: #fff;
          
        }

        &.active {
          background-color: #5cb9d0;
          color: #fff;
        }

        img {
          margin-bottom: 10px;
        }

        span {
          display: block;
        }
      }
    }

    /* ul {
      @include clear;
      padding: 0 78px;

      >li {
        float: left;
        width: 31%;

        &:first-child {
          padding: 108px 10px 30px;

          a {
            font-family: 'eilce';

            b {
              font-size: 24px;
              font-weight: 700;
              line-height: 1.8rem;
              display: block;
              margin-bottom: 20px;
              color: #444;
              @include ell3;
            }

            span {
              margin-bottom: 15px;
              display: block;
              @include ell2;
              font-weight: 550;
            }

            em {
              display: block;
              font-weight: 550;
            }

            strong {
              margin: 30px auto;
              display: block;
              background-color: #5cb9d0;
              color: #fff;
              height: 45px;
              line-height: 45px;
              border-radius: 25px;
              max-width: 200px;
              text-align: center;
              font-weight: 600;
            }

            div {
              text-align: center;
            }
          }
        }

        ol {
          li {
            padding: 43px 0;
            margin: auto;
            display: block;
            text-align: center;
            color: #999999;

            span {
              display: block;
              margin-top: 5px;
            }

            &:nth-child(2) {
              background: #5cb9d0;
              color: #fff;
            }
          }
        }
      }
    } */

    article,
    article.ntcwrap {
      margin-top: 25px;
      padding: 10px;
      display: flex !important;
      flex-direction: column;

      .ntc_header {
        text-align: left;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        margin-bottom: 30px;
        h6 {
          font-size: 19px;
          font-weight: 700;

          @include maxWidth(1280px) {
            font-size: 17px;
          }
        }
      }
      .ntc_body {
        margin-bottom: 20px;
        font-size: 16px;
        text-align: left;

        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;

        @include maxWidth(1080px) {
          -webkit-line-clamp: 3;
        }
      }
      .ntc_footer {
        font-size: 14px;
        margin-bottom: 30px;
        text-align: center;

        span {
          display: inline-block;
          margin: 0 5px;
        }
      }
      button {
        margin: 0 auto;

        font-size: 16px;
        font-weight: 600;
        padding: 17px 50px;
        color: #fff;
        background-color: #5cb9d0;
        border-radius: 50px;
      }
    }
    article.ntcwrap {
      margin-top: 0;
      padding: 25px;
    }

    .banner2 {
      display: none;
    }

    @include maxWidth(1260px) {
      .art {
        padding: unset;
        padding-bottom: 200px;
        padding-right: 0;

        &::before {
          background-size: 750px auto;
        }

        &::after {
          background-size: 370px auto;
          width: 370px;
        }
      }
    }

    @include maxWidth(1080px) {
      .art {

        &::before {
          background: url(../images/section2_img_m.png) no-repeat center left;
          width: 638px;
          height: 805px;
          left: -383px;
          top: -230px;
          background-size: 400px auto;
          width: 400px;
        }

        &::after {
          left: 210px;
          bottom: -190px;
        }
      }

      ul {
        display: none;
      }

      .banner2 {
        max-width: 670px;
        overflow: hidden;
        position: relative;
        display: block;
        margin: auto;
        padding: 0 60px;
        .notice_titwrap {
          display: block;
  
          h6 {
            font-size: 140px;
            font-family: 'Trebuchet MS';
            font-weight: bold;
            color: #393939;
            opacity: .16;
            position: relative;
            z-index: 5;
            text-align: center;
          }
          &::after {
            content: '';
            display: block;
            width: 276px;
            height: 128px;
            background: #ff7676;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 56px;
            right: -77px;
            z-index: 4;
          }
        }

        > .control {
          right: 0;
          top: 0;
          font-size: 0;
          line-height: 0;

          :nth-child(n) {
            display: inline-block !important;
            font-size: $fs-22;
            margin: 0 5px;
            vertical-align: top;
          }

          .btn {
            position: absolute;

            &.next {
              background: url("../images/borad_arrow_next.png") no-repeat
                center/contain;
              width: 36px;
              height: 59px;
              right: 0;
              top: 50%;
            }

            &.prev {
              background: url("../images/borad_arrow_prew.png") no-repeat
                center/contain;
              width: 36px;
              height: 59px;
              left: 0;
              top: 50%;
            }

            /* &.pause {background:url('../images/banner2_stop.png') no-repeat center ;width: 10px; height: 21px; padding: 0 25px;}
            &.play {background:url('../images/banner2_play.png') no-repeat center center;  width: 14px; height: 22px;} */
          }
        }

        .slide_box {
          position: relative;

          > .slide {
            .item {
              > a {
                display: block;

                > div {
                  background: #5cb9d0;
                  color: #fff;
                  margin: auto;
                  text-align: center;
                  display: block;
                  padding: 35px 0;

                  > div {
                    min-height: 42px;
                    margin-bottom: 15px;

                    > img {
                      display: block;
                      margin: auto;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    @include maxWidth(1266px) {
      .art {
        &::before {
          left: -540px;
        }
      }
    }

    @include maxWidth(1080px) {
      .art {
        &::before {
          left: -385px;
        }
      }
    }

    @include maxWidth(962px) {
      .art {
        &::after {
          left: 109px;
        }
      }

      .tta_02 {
        &::after {
          display: none;
        }
      }
    }

    @include maxWidth(850px) {
      .art {
        &::after {
          left: 43px;
        }
      }
    }

    @include maxWidth(796px) {
      .art {
        &::after {
          left: -10px;
        }

        > div {
          margin-bottom: 0;
        }
      }
    }

    @include maxWidth(720px) {
      .art {

        &::before {
          top: -400px;
          height: 506px;
          left: -40px;
        }

        &::after {
          left: 13%;
        }

        > div {
          padding-top: 90px;
          text-align: center;

          h2 {
            font-size: 26px;
            line-height: 2rem;
            margin-bottom: 30px;
          }

          > b,
          span {
            font-size: 13px;
          }
        }
      }
    }

    @include maxWidth(468px) {
      .art {
        margin-top: 430px;

        &::before {
          background-size: 300px auto;
          width: 300px;
        }

        &::after {
          background-size: 270px auto;
          width: 270px;
        }

        > div {
          padding-top: 30px;
        }
      }

      .banner2 {
        .control {
          .btn {
            &.next {
              width: 20px;
              height: 34px;
              right: 10px;
            }

            &.prev {
              width: 20px;
              height: 34px;
              left: 10px;
            }

            @include maxWidth(468px) {
              &.next {
                right: 5px;
              }

              &.left {
                left: 5px;
              }
            }
          }
        }

        @include maxWidth(468px) {
          padding: 0 40px;
        }
      }
    }
  }

  .section3 {
    border-bottom: 1px solid #c8c8c8;
    position: relative;
    z-index: 3;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: calc((100% - 1200px) / 2);
      height: 1px;
      background-color: #c8c8c8;
      z-index: 2;
    }

    > div {
      font-size: 14px;
      font-family: "eilce";
      max-width: 1200px;
    }

    > .tta {
      display: flex;
      flex-wrap: nowrap;

      .tta_01 {
        margin-left: -360px;
        width: 100%;
        height: 440px;
        background: url(../images/main_tta_bg.png);
        position: relative;

        .tta_01_con {
          width: 68.95%;
          height: 123px;
          padding: 20px 30px;
          position: absolute;
          bottom: 0;
          right: 0;
          background-color: #4c4c4c;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          p {
            color: #fff;
            font-size: 18px;
            font-weight: 700;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
          }
        }
      }

      .tta_icnlist {
        width: 100%;
        position: relative;

        ul {
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: space-between;

          &::after {
            content: none;
          }

          li {
            a {
              color: #fff;

              img {
                margin-right: 10px;
              }
            }
          }
        }
      }

      .tta_02 {
        width: 33.25%;
        min-width: 399px;
        background: url(../images/main_tta_bg2.png);
        padding: 40px 0 0 40px;
        position: relative;

        span {
          font-size: 29px;
          font-weight: 600;
          color: #fff;
          letter-spacing: -2px;
          line-height: 1.1;
        }
      }
    }

    .tta2 {
      display: flex;
      flex-wrap: nowrap;

      .tta2_left {
        width: 801px;
        background: url(../images/main_tta_bg3.png) no-repeat center
          center/cover;
        color: #fff;
        padding: 30px 25px;
        display: flex;
        flex-direction: column;

        h4 {
          font-size: 30px;
          font-weight: 300;
          margin-bottom: 20px;

          em {
            font-weight: 500;
          }
        }

        .b_btn {
          margin-top: auto;
          margin-left: auto;
          border: 1px solid #fff;
          border-radius: 50px;
          padding: 10px 50px;
          color: #fff;
          font-weight: 500;
        }
      }

      .icn_list.cstm {
        width: 801px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;

        a {
          color: #fff;

          > div {
            min-height: 60px;
            display: block;
            text-align: center;
            position: relative;
            margin-bottom: 5px;

            img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }

      .tta_right {
        width: 399px;

        > div {
          width: 100%;
        }
      }
    }

    @include maxWidth(1260px) {
      > .tta {
        .img1 + img {
          margin: auto;
          display: block;
        }

        .tta_01_con {
          display: none;
        }

        .tta_02 {
          height: 440px;
          margin-bottom: 90px;

          span {
            font-size: 28px;
          }

          &::after {
            display: none;
          }
        }
      }

      .tta + div {
        display: none;
      }
    }

    @include maxWidth(962px) {
      > .tta {
        justify-content: center;

        .tta_01 {
          display: none;
        }

        .tta_02 {
          span {
            font-size: 27px;
          }
        }
      }
    }
  }
}

.chart {
  margin-right: -100px;
  width: 650px;
  height: 400px;
}

/* y */

.btn4 {
  width: 160px;
  padding: 10px;
  text-align: center;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 500;
}

/* popup_modal */
.popup_modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;

  &.poped {
    display: block;
  }

  &.on {
    display: block;
    overflow: hidden;
  }

  .popup_wrap {
    &.athnticode {
      width: 340px;
      padding: 45px 20px;

      .popup_con_wrap {
        width: 100%;
        text-align: center;
        position: relative;

        h6 {
          font-size: 24px;
          color: #222;
          margin-bottom: 15px;
        }
        p {
          font-size: 16px;
          color: #666;
          margin-bottom: 15px;
        }
        input {
          max-width: 200px;
          margin: 0 auto;
          width: 100%;
          border: 2px solid #18ccce;
          margin-bottom: 20px;
          text-align: center;
          padding: 10px 0;
        }
        .btn1 {
          max-width: 200px;
          width: 100%;
          background: #006ec2;
          height: unset;
          line-height: unset;
          padding: 10px 20px;
          font-size: 16px;
        }
        span.btn_close {
          position: absolute;
          top: -30px;
          right: -5px;
          width: 13px;
          height: 13px;
          background: url(../images/btn_pop_close.png) no-repeat center center;
          cursor: pointer;
        }
      }
    }

    max-width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;

    h3 {
      font-size: 30px;
      color: #222e51;
      border-bottom: 1px solid #a6a6a6;
      text-align: center;
      padding: 50px 20px;
    }

    .popup_con {
      padding: 0 100px;

      section {
        border-bottom: 1px solid #a6a6a6;

        &:first-of-type {
          margin-top: 40px;

          p {
            background: #cbe2ff;
            font-size: 18px;
            padding: 40px 20px;
            text-align: center;
            border-radius: 80px;
          }

          .agreecheck {
            text-align: center;
            margin: 30px 0;

            input {
              display: inline-block;
              width: 20px;
              height: 20px;
              padding: 0;
              vertical-align: middle;
              background-size: cover;
              margin-right: 5px;
              margin-top: 1px;
              border: 2px solid #aaa;
              border-radius: 2px;

              & + label {
                display: inline-block;
                vertical-align: middle;
                cursor: pointer;
                font-size: 18px;
              }

              &[type="checkbox"] {
                background-image: url("../images/chk_off.jpg");
              }

              &[type="checkbox"]:checked {
                background-image: url("../images/chk_on.jpg");
              }
            }
          }
        }

        &:nth-of-type(2) {
          p {
            font-size: 14px;
            padding: 30px 20px;
          }
        }

        &:last-of-type {
          margin-bottom: 50px;

          form {
            padding: 20px;
            justify-content: space-between;

            label {
              width: 100px;
              font-size: 18px;
            }

            select {
              max-width: 300px;
              border: 1px solid #aaa;
              font-size: 14px;
              padding: 8px 20px;
              background-image: url(../images/tit_dropdown_btn_down.png);
              background-repeat: no-repeat;
              background-position: 93% center;
            }
          }
        }
      }
    }
  }
}

/* search_modal */
.search_modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;

  &.poped {
    display: block;
  }

  .search_popwrap {
    width: 100%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

    form {
      padding: 30px 40px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 10px;
    }
  }
}

.popinput_list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  @include maxWidth(1080px) {
    flex-direction: column;
    gap: 10px 0;
    li {
      max-width: 300px;
      width: 100%;
    }
  }

  &.black {
    margin-top: 40px;
    margin-bottom: 40px;

    li {
      select {
        color: #000;

        option {
          background: #fff;
        }
      }

      input[type="text"] {
        color: #000;

        &::placeholder {
          color: #999;
        }
      }

      &:first-child {
        flex: 0 1 20%;

        &::after {
          background: url(../images/main_selectdown2.png) no-repeat center
            center;
        }
      }

      &:nth-child(2) {
        flex: 0 1 55%;
      }

      &:last-child {
        display: flex;
        align-items: center;
      }

      input[type="checkbox"] {
        width: 27px;
        height: 27px;
        padding: 0;
        margin-right: 10px;
        background: url(../images/checkbox_unchecked.png) no-repeat center
          center;

        &:checked {
          background: url(../images/checkbox_checked.png) no-repeat center
            center;
        }
      }
    }
  }

  &::after {
    content: none;
  }

  li {
    &:first-child {
      flex: 0 1 20.47%;
      position: relative;

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        width: 16px;
        height: 8px;
        background: url(../images/main_selectdown.png) no-repeat center center;
      }
    }

    &:nth-child(2) {
      flex: 0 1 60%;
    }

    &:last-child {
      margin-right: 0;
    }

    select {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      width: 100%;
      background: transparent;
      color: #fff;
      border: 1px solid #999;
      border-radius: 5px;
      padding: 5px 0 5px 20px;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      option {
        background: #232323;

        // &:hover {
        //   background: #4078bc;
        // }
      }
    }

    input[type="text"] {
      width: 100%;
      background: transparent;
      border: 1px solid #999;
      border-radius: 5px;
      padding: 5px 0 5px 20px;
      color: #fff;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #fff;
        opacity: 0.5;
      }
    }

    input[type="button"] {
      cursor: pointer;
      background: #425da2;
      border: 1px solid transparent;
      border-radius: 5px;
      color: #fff;
      padding: 5px 60px;
    }
  }
}

/* result page */
.search_desc {
  font-weight: 300;
  margin-bottom: 40px;

  .red {
    color: #ff6363;
  }
}

.result_tab {
  margin-bottom: 35px;

  ul {
    display: flex;
    border: 1px solid #ccc;
    border-right: none;

    li {
      flex: 1 0 20%;
      text-align: center;
      cursor: pointer;
      padding: 10px 0;
      background: #f7f7f7;
      color: #333;
      border-right: 1px solid #ccc;

      &.active {
        background: #a9c2ff;
      }
    }
  }
}

.resultview_list {
  .resultview {
    .resultview_tit {
      font-size: 18px;
      color: #444;
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      font-weight: 600;

      em {
        &:first-of-type {
          display: flex;
          align-items: center;
          &::after {
            content: "";
            display: inline-block;
            width: 10px;
            height: 17px;
            background: url(../images/main_search_spacer.png) no-repeat center
              center;
            margin: 0 20px;
          }
        }
      }

      span {
        color: #ff6363;
      }
    }

    > div {
      > ul {
        &.bookshelf {
          justify-content: center;

          li {
            margin: 20px 50px;
          }
        }

        > li {
          display: none;
        }
      }
    }
  }

  .redcross {
    display: flex;
    align-items: center;
    padding: 0 40px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    border: 1px solid #999;
    border-radius: 20px;

    span {
      width: 12px;
      height: 12px;
      background: url(../images/btn_redcross.png) no-repeat center center;
      margin-right: 5px;
    }
  }
}

.src_hltd {
  color: #425da2 !important;
  font-weight: 600 !important;
}
