.sub_commonwrap {
  margin-top: 80px;

  @include maxWidth(720px) {
    margin-top: 60px;
  }
  height: 200px;
  background: #000;
  position: relative;

  // 서브페이지 메인비주얼 bg
  &.sub01 {
    background: url(../images/sub_commonbg01.png) no-repeat center center;
  }
  &.sub02 {
    background: url(../images/sub_commonbg02.png) no-repeat center center;
  }
  &.sub03 {
    background: url(../images/sub_commonbg03.png) no-repeat center center;
  }
  &.sub04 {
    background: url(../images/sub_commonbg04.png) no-repeat center center;
  }
  &.sub05 {
    background: url(../images/sub_commonbg05.png) no-repeat center center;
  }
  &.sub06 {
    background: url(../images/sub_commonbg06.png) no-repeat center center;
  }
  .bg_blend {
    // background: rgba(0, 0, 0, 0.3);
    height: 100%;
  }

  .blockspan {
    @include maxWidth(720px) {
      display: block;
    }
  }
  // sub_tit
  .sub_titwrap {
    height: 100%;
    display: flex;
    align-items: center;

    h2 {
      width: 810px;
      font-size: 40px;
      display: block;
      font-family: "SUIT-B";
      color: #fff;
    }
    p {
      margin-top: 12px;
      font-size: 24px;
      font-family: "SUIT-R";
      opacity: 0.8;
    }
  }
}

// lnb
.lnbwrap {
  width: 100%;
  height: 52px;
  background: #83955a;

  .container {
    display: flex;
    gap: 0 16px;
    align-items: center;
    position: relative;


    > div {
      display: flex;
      gap: 0 1px;
      margin-right: auto;
      > button {
        width: 52px;
        height: 52px;
        background: #8da656;
        display: flex;
        justify-content: center;
        align-items: center;
        &::after {
          content: "";
          width: 18px;
          height: 18px;
          background: url(../images/lnb_home.png) no-repeat center center;
        }
      }
      .ulsel {
        width: 320px;
        height: 52px;

        > button {
          padding: 0 15px;
          border: none;
          background: #8da656;
          border-radius: unset;
          &::after {
            width: 20px;
            height: 20px;
            right: 15px;
          }
        }
        > ul {
          border-radius: unset;
          bottom: unset;
          border: unset;
          box-shadow: 0 0 1px #999;
        }
      }
    }
    > button {
      flex-shrink: 0;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background: #8fc664;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      top: -88px;

      &::after {
        content: "";
        width: 100%;
        height: 100%;
      }

      &.home::after {
        background: url(../images/lnb_home.png) no-repeat center center;
      }
      &.share::after {
        background: url(../images/lnb_share.png) no-repeat center center;
      }
      &.print::after {
        background: url(../images/lnb_print.png) no-repeat center center;
      }
    }

    @include maxWidth (880px) {
      > button {
        position: absolute;

        &.share {
          right: 16px;
          transform: translateX(-100%);
        }
        &.print {
          right: 0;
        }
      }
    }
    @include maxWidth (720px) {
      margin-right: 0;
      margin-left: 0;

      .lnb_btn {
        display: none;
      }
      > div {
        flex-wrap: wrap;
        flex-grow: 1;
        margin-right: unset;
        .ulsel {
          width: calc((100% - 1px)/2);
        }
      }

    }
  }
}
// margin
.mb8 {
  margin-bottom: 8px !important;
}
.mb12 {
  margin-bottom: 12px !important;
}
.mb16 {
  margin-bottom: 16px !important;
}
.mb24 {
  margin-bottom: 24px !important;
}
.mb56 {
  margin-bottom: 56px !important; 
}
.mb64 {
  margin-bottom: 64px !important;
}
.mb80 {
  margin-bottom: 80px !important;
}
.pl20 {
  padding-left: 20px !important;
}
.pr20 {
  padding-right: 20px !important;
}

// 폰트 색상
.fc_grn {
  color: #608d00;
}

// 서브 컨텐츠 스타일
.contents.sub {
  padding-top: 80px;
  margin-bottom: 120px;
  h3 {
    font-family: "SUIT-SB";
    font-size: 48px;
    color: #13523b;
    margin-bottom: 80px;
  }
  h4 {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-family: "SUIT-SB";
    margin-bottom: 24px;
    color: #000;
  }
  h5 {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: 'SUIT-M';
    margin-bottom: 16px;
    color: #000;
  }
  .body01 {
    font-size: 16px;
    color: #333;
    margin-bottom: 12px;
    &:last-of-type {
      margin-bottom: unset;
    }
  }
  .body02 {
    font-size: 16px;
    color: #666;
    margin-bottom: 8px;
    &:last-of-type {
      margin-bottom: unset;
    }
  }
  .cpt {
    font-size: 16px;
    color: #666;
    position: relative;
    top: -4px;
  }
}
// sub01
.exhb_slide {
  overflow: hidden;
  margin-bottom: 80px;
}

article {
  .artcl_tit {
    font-size: 40px;
    font-family: "SUIT-B";
    text-align: center;
    margin-bottom: 40px;
  }

  .artclinfo_list {
    > li {
      display: flex;
      align-items: flex-start;
      gap: 0 80px;
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: unset;
      }
      > span {
        display: block;
        width: 128px;
        flex-shrink: 0;
        color: #444;
        border: 3px solid #6b80ff;
        border-radius: 20px;
        text-align: center;
        padding: 7px 0;
      }
      p {
        align-self: center;
      }
      .logo_list {
        align-self: center;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 20px 0;
        > li {
          width: 25%;
          height: 38px;
          flex-shrink: 0;
          border: 1px solid red;
        }
      }
    }
  }

  .diagwrap {
    width: 100%;
    position: relative;

    .diag_midline {
      box-sizing: border-box;
      display: block;
      width: 100%;
      height: 1px;
      background: #ccc;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .diag_mthr {
      padding: 0 20px;

      .circlebox {
        display: flex;
        max-width: 480px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        
        .circlewrap {
          max-width: 240px;
          width: 100%;
          padding-bottom: 50%;
          position: relative;

          .circle {
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            z-index: 2;

            &::after {
              content: '';
              width: calc(100% - 2px);
              height:  calc(100% - 2px);
              border: 1px solid #eee;
              border-bottom: 1px solid #8EAA5E;
              border-left: 1px solid #8EAA5E;
              transform: rotate(-45deg);
              border-radius: 50%;
              position: absolute;
              top: 0;
              z-index: 44;
            }

            &.rvs {
              margin-left: -1px;
              &::after {
                transform: rotate(135deg);
              }
            }
          }
        }
      }
    }
  }
}
// sub01
.sub_tab_con {
  article {
    > div {
      figure {
        width: 40%;
      }
      .con_txt {
        width: 60%;
      }
    }
  }
}
// 아코디언
.program_info{
  li{
    a{
      padding: 10px;
    }
    .program_detail {
      display: none;
      padding: 50px;
      border: 1px solid #eee;
      border-radius: 20px;
    }
    &.active {
      a {
        color: #13523b;
        font-weight: 600;
      }
    }
  }
}
.sub_con_list2,
.sub_con_list2_1 {
  .con_wrap {
    .flex_wrap {
      justify-content: space-between;
      .txt_wrap {
        width: 65%;
      }
      .con_wrap_img {
        width: 30%;
        display: block;
      }
    }
  }
}

.img_wrap {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 32px;
  > figure {
    flex: 0 1 calc((100% - 64px)/3);
    text-align: center;

    &:only-of-type {
      margin: 0 auto;
    }
  }
  &.ver2 {
  }
  &.links {
    > a {
      flex: 0 1 calc((100% - 64px)/3);
      text-align: center;
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 48px 20px 40px;
      height: 211px;


      @media (hover:hover) {
        
        &:hover {
          box-shadow: 0 0 1px #000;
        }
      }

      

      img {
        width: 64px;
        height: 64px;
        margin-bottom: 32px;
      }
      p {
        font-size: 18px;
        color: #333;
      }
      &:only-of-type {
        margin: 0 auto;
      }
    }
    @include maxWidth(720px) {
      gap : 20px;

      > a {
        flex: 0 1 calc((100% - 20px)/2);
      }
    }
  }
  // &.needgrid {
  //   grid-template-columns: repeat(3, 1fr);
  //   grid-gap: 32px;
  //   justify-content: space-between;
  //   figure {
  //     width: 100%;
  //     figcaption {
  //       text-align: center;
  //       margin-top: 24px;
  //     }
  //   }
  // }
  // figure {
  //   width: 100%;
  // }
}

.space_wrap {
  padding: 80px 0 70px 0;
  background: #f7f7f8;
  .spc_idx_wrap {
    width: 45%;
    .spc_idx {
      flex-direction: column;
      gap: 20px 0;
      flex-wrap: wrap;
      height: 290px;
      width: 73%;
      li {
        width: 50%;
        a {
          display: flex;
          gap: 0 8px;
          b {
            border-bottom: 1px solid transparent;
          }
          span {
            font-family: "SUIT-SB";
            display: flex;
            align-items: center;
            justify-content: center;
            background: #c6e481;
            border-radius: 8px;
            width: 24px;
          }
        }
        &.on {
          a {
            color: #13523b;
            font-family: "SUIT-SB";
            b {
              border-bottom: 1px solid #13523b;
            }
          }
        }
      }
    }
  }
  figure {
    width: 55%;
  }
}
.swiperwrap {
  position: relative;

  .swiper-button-next {
    right: -72px;
    width: 48px;
    height: 48px;
    background: url(../images/sub_next_btn.png);
    &::after {
      content: none;
    }
  }
  .swiper-button-prev {
    left: -72px;
    width: 48px;
    height: 48px;
    background: url(../images/sub_prev_btn.png);
    &::after {
      content: none;
    }
  }
}

// sub02
.sub_tab_con {
  .needflex {
    &.twins {
      > article {
        width: 49%;
        flex-shrink: 0;
      }
    }
  }
  ul {
  }
}
// sub03
.iframewrap {
  text-align: center;
  margin: 0 auto;
}
// 아코디언
.board .faq_list{
  .brd_ctgr{
    flex: 0 0 20%;
  }
  .brd_title{
    flex: 0 0 80% !important;
  }
.brd_aswr{
      display: none;
      padding: 50px 50px 50px 20%;
      border: 1px solid #eee;
      border-radius: 20px;
    }
    &.active{
      a{
        color: #13523B;
        font-weight: 600;
      }
    }
}
// sub04 게시판
.board {
  .brd_top {
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 16px;
    .brd_tl {
      gap: 32px;
      span {
        position: relative;
        color: #333333;
        b{
          font-family: "SUIT-M";
          color: #13523B;
        }
        em{
          color: #000000;
          font-family: "SUIT-M";
        }
        &:first-child {
          &:after {
            position: absolute;
            content: "";
            top: 50%;
            right: -17px;
            transform: translate(-50%,-50%);
            width: 1px;
            height: 14px;
            background: #eeeeee;
          }
        }
      }
    }
    .brd_tr {
      align-items: center;
      gap: 10px;
    }
  }
  .brd_sch{
    border: 1px solid #000;
    border-radius: 8px;
    padding: 24px 32px;
    margin-bottom: 64px;
    gap: 16px;
  }
  .ulsel{
    border-radius: 2px;
    height: 48px;
    button{
      border: 1px solid #CCCCCC;
      color: #333;
      &::after{
        content: '';
        width: 20px;
        height: 20px;
        background: url(../images/slt_down.png);
        right: 14px;
      }
    }
    &.brd_slt{
     flex-shrink: 0;
     width: 144px;
      button{
        border-radius: 2px;
        padding:0 16px;
      }
    }
    &.brd_count{
      width: 96px;
      button{
        border-radius: 2px ;
        padding: 0 12px;
      }
    }
  }
  .brd_search_bar {
    flex-grow: 1;
    height: 48px;
    input {
      border: 1px solid #CCCCCC;
      padding: 0 10px;
      border-radius: 2px;
      font-size: 16px;
      height: 100%;
      &::placeholder {
        color: #777777;
      }
    }
  }
  .brd_search_btn {
    flex-shrink: 0;
    width: 112px;
background: #13523B;
height: 48px;
    color: #ffffff;
    font-family: "SUIT-M";
  }
  .brd_list {
    font-family: "SUIT-R";
    ul {
      border-top: 2px solid #000000;

      li {
        border-bottom: 1px solid #eeeeee;
        &:first-child,&:last-child{
          border-bottom: 1px solid #cccccc;

        }
        div {
          min-height: 55px;
          max-height: 64px;
          display: flex;
          text-align: center;
          align-items: center;
          padding: 20px 0;
          &.brd_hd {
            p{
              font-family: 'SUIT-M';
            }
            .brd_title {
              text-align: center;
            }
          }
          p {
            flex: 1;
            &.brd_title {
              flex: 0 0 40%;
              text-align: left;
              a {
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
              }
            }
          }
        }
      }
    }

    &.thmb {
      ul {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 40px 32px;
        border-top: unset;

        @include maxWidth(960px) {
          gap: 32px 20px;

        }

        li {
          flex: 0 1 calc((100% - 64px)/3);
          border-bottom: unset;

          @include maxWidth(960px) {
            flex: 0 1 calc((100% - 20px)/2);
  
          }
  
          a {

            .imgwrap {
              border: 1px solid #ccc;
              border-radius: 8px;
              overflow: hidden;
              width: 100%;
              padding-bottom: 56.16%;
              position: relative;
              display: inherit;

              img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            dl {
              margin-top: 32px;
              dt {
                font-family: 'SUIT-SB';
                font-size: 18px;
                display: -webkit-box;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                margin-bottom: 16px;
              }
              dd {
                display: -webkit-box;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
              }
            }
          }
        }
      }
    }
    &.thmb{
      border-top: 2px solid #000;
      border-bottom: 2px solid #cccccc;
      padding-top: 40px;
      margin-top: 8px;
      padding-bottom: 40px;
    }
  }
 
}
.notice_tag{
  border: 1px solid #CCCCCC;
  padding:0 15px;
  margin-right: 12px;
  color: #1154FF;
  border-radius: 2px;
  display: inline-block;
}

.pagination_wrap {
  margin-top: 40px;
  .pagination {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 32px;
    > button {
      display: inline-block;
      min-width: 20px;
      flex-shrink: 0;
      height: 40px;
      width: 40px;
      &.first_page {
        background: url(../images/btn_first_page.png) no-repeat center
          center/contain;
      }

      &.prev_page {
        background: url(../images/btn_prev_page.png) no-repeat center
          center/contain;
          margin-left: -1px;
          margin-right: 32px;
        }
        &.prev_page_on{
          background: url(../images/btn_prev_page_on.png) no-repeat center center/contain;
          margin-right: 32px;
        }

      &.next_page {
        background: url(../images/btn_next_page.png) no-repeat center
          center/contain;
          margin-left: 32px;
        }
        &.next_page_on {
          background: url(../images/btn_next_page_on.png) no-repeat center center/contain;
          margin-left: 32px;
        }

      &.last_page {
        background: url(../images/btn_last_page.png) no-repeat center
          center/contain;
          margin-left: -1px;
      }
    }

    ul {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      gap: 0 36px;
      > li {
        &:last-child {
          margin-right: 0;
        }

        a {
          display: flex;
          color: #777777;
          height: 100%;
          justify-content: center;
          align-items: center;
          position: relative;
          font-family: "SUIT-SB";

          &.active {
            color: #000000;
            
          }

          &:last-child { 
            margin-right: 0;
          }
        }
      }
    }
  }
}
// sub05 인사말

.greet {
  gap: 25px;
  border-bottom: 1px solid #eee;
  overflow: hidden;

  .greet_txt {
    width: 64.29%;
    p {
      font-family: "SUIT-R";
      color: #000000;

      
      .spanblock {
        @include minWidth(1179px) {
          display: block;
        }
      }

      &.greet_p1 {
        font-family: "SUIT-B";
        font-size: 28px;
        color: #333;
        margin-bottom: 24px;
      }
      &.greet_p2 {
        line-height: 27px;
        font-size: 18px;
        color: #666;
        margin-bottom: 40px;

      }
    }
  }
  .greet_img {
    align-self: flex-end;
    img {
      position: relative;
      bottom: -50px;
    }
  }
}
.greet_ext {
  margin-top: 40px;
  line-height: 27px;
  
  p {
    font-size: 18px;
  }
}

// 지도
.mapwrap {
  > div {
    width: 100%;
  }
}



// 통합검색
.search_desc {
  font-weight: 300;
  margin-bottom: 40px;

}

.result_tab {
  margin-bottom: 35px;

  ul {
    display: flex;
    border: 1px solid #ccc;
    border-right: none;

    li {
      flex: 1 0 20%;
      text-align: center;
      cursor: pointer;
      padding: 10px 0;
      background: #f7f7f7;
      color: #333;
      border-right: 1px solid #ccc;

      &.active {
        background: #a9c2ff;
      }
    }
  }
}

.resultview_list {
  .resultview {
    margin-bottom: 60px;

    &:last-of-type {
      margin-bottom: unset;
    }
    .resultview_tit {
      font-size: 18px;
      color: #444;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      font-weight: 600;

      em {
        &:first-of-type {
          display: flex;
          align-items: center;
          &::after {
            content: "";
            display: inline-block;
            width: 10px;
            height: 17px;
            background: url(../images/main_search_spacer.png) no-repeat center
              center;
            margin: 0 20px;
          }
        }
      }

    }

    .boardwrap {
      .board_list {
        margin-bottom: 40px;

        .resultview_item {
          display: none;
          > a {
            align-items: center;

            > div {
            }
            .tsrst_left {
              padding: 10px;
            }
            .tsrst_right {
              >div {
                padding: 10px;
                align-items: center;
                gap: 0 1%;
                > p {
                  min-width: 0;
                  flex: 0 0 10%;

                  &.brd_title {
                    flex-grow: 1;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    font-family: 'SUIT-SB';
                  }
                  &.brd_dpt {
                    word-break: keep-all;
                    flex: 0 0 13%;
                  }
                  &.brd_wrtr {
                    flex: 0 0 8%;
                  }
                  &.brd_text {
                    flex-grow: 0;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                  }
                  &.brd_file {
                    flex: 0 0 7%;
                  }
                }
              }
            }
          }
        }
      }
    }

  }

  .redcross {
    display: flex;
    align-items: center;
    padding: 0 40px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    border: 1px solid #999;
    border-radius: 20px;

    span {
      width: 12px;
      height: 12px;
      background: url(../images/btn_redcross.png) no-repeat center center;
      margin-right: 5px;
    }
  }
}


.red {
  color: #ff6363;
}

.src_hltd {
  color: #425da2 !important;
  font-weight: 600 !important;
}


.board_view {
  .viewwrap {
    margin-top: 80px;

    &.hasTag {
      margin-top: 64px;
    }
    .cont_head {
      padding-bottom: 24px;
      border-bottom: 2px solid #000;
      .notice_tag {
        margin-bottom: 16px;
      }
      .brd_title {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
    .board_util {
      align-items: center;
      gap: 0 16px;
      color: #666;
      .brd_wrtr {
        font-family: 'SUIT-M';
        color: #000;
      }
      .brd_date {
      }
      .brd_cnt {
        display: flex;
        align-items: center;
        gap: 0 8px;

        .ico_eye {
          flex-shrink: 0;
          display: inline-block;
          width: 16px;
          height: 16px;
          background: url(../images/count_ico.png) no-repeat center center;
        }
      }
      > p {
        display: flex;
        align-items: center;
        gap: 0 16px;

        &:last-of-type {
          &::after {
            content: none;
          }
        }
        &::after {
          display: block;
          content: '';
          width: 1px;
          height: 14px;
          background: #eee;
        }
      }
    }
    .cont_body {
      padding: 40px 0; 
      border-bottom: 1px solid #ccc;
    }

    .pb_textarea {
      min-height: 230px;
    }

    .filewrap {
      background: #f7f7f8;
      margin-top: 40px;
      padding: 20px;
      .filewrap_tit {
        font-family: 'SUIT-M';
        margin-bottom: 8px;
      }

      .file_list {
        li {
          margin-bottom: 8px;
          color: #666;

          a {
            display: inline-block;
            position: relative;
            color: #666;

            @media (hover:hover) {
              &:hover {
                &::after {
                  content: '';
                  position: absolute;
                  width: 100%;
                  height: 1px;
                  background: #666;
                  left: 0;
                  bottom: 2px;
                }
              }
            }
          }
 

          &:last-of-type {
            margin-bottom: unset;
          }
        }
      }
    }
    .cont_foot {
      border-bottom: 1px solid #ccc;
      .board_nav {
        li {
          height: 72px;
          border-bottom: 1px solid #eee;
          &:last-child {
            border-bottom: unset;
          }
          a {
            padding: 24px;
            gap: 0 24px;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            gap: 0 24px;

            .nav_tag {
              flex-shrink: 0;
              font-family: "SUIT-M";
            }

            .brd_title {
              color: #333;
              text-overflow: ellipsis;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;

              &.nomore_next, &.nomore_prev {
                color: #777;
              }
            }
          }
        }
      }
    }
  }
}