@charset "UTF-8";
/********* reset.css **********/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ul,
ol,
li,
form,
fieldset,
legend,
label,
input,
button,
select,
textarea,
header,
main,
footer,
section,
article,
aside,
menu,
nav,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
summary,
figure,
figcaption,
hgroup {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.4;
  color: #222;
  font-family: "Noto Sans";
  font-weight: 500;
  letter-spacing: -0.05em;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: normal;
}

ul,
ol,
li {
  list-style-type: none;
}

ul:after,
ol:after,
dl:after {
  display: block;
  clear: both;
  content: "";
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

img {
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}

p {
  max-height: 9999px;
}

address {
  font-style: normal;
}

button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0 none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  cursor: pointer;
}

caption,
legend {
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  margin: -1px;
}

.hide {
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  margin: -1px;
  position: absolute;
  left: 0;
  right: 0;
}

.clear {
  clear: both;
  display: block;
  content: "";
  overflow: hidden;
}

.br {
  display: block;
}

table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

select::-ms-expand {
  display: none;
}

input::-ms-check {
  display: none;
}

form {
  display: block;
  width: 100%;
}

input,
select,
textarea {
  padding: 0 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  width: 100%;
  display: block;
  border: 0;
  font-family: inherit;
}

.ml10 {
  margin-left: 10px;
}

.ml20 {
  margin-left: 20px;
}

.ml25 {
  margin-left: 25px;
}

.ml30 {
  margin-left: 30px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt50 {
  margin-top: 50px;
}

.mr40 {
  margin-right: 40px;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb120 {
  margin-bottom: 120px;
}

.pt40 {
  padding-top: 40px !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.pl20 {
  padding-left: 20px !important;
}

.fr_wrap {
  height: 50px;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.bo_l {
  border-left: 1px solid #999999;
}

.bo_r {
  border-right: 1px solid #999999;
}

.bo_t_blue {
  border-top: 2px solid #7aa0ff !important;
}

.fs22 {
  font-size: 22px;
}

.needflex {
  display: flex;
}

/*clear*/
/*요소중앙정렬*/
/*아이템 정렬*/
#wrap {
  min-height: 100vh;
}

.wrapper.modaled {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}
@media screen and (max-width: 1260px) {
  .container {
    margin-right: 30px;
    margin-left: 30px;
  }
}
@media screen and (max-width: 720px) {
  .container {
    margin-right: 13px;
    margin-left: 13px;
  }
}

.skip_navi {
  position: absolute;
  z-index: 9999;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
}
.skip_navi a {
  display: block;
  position: absolute;
  left: 0;
  top: -9999px;
  z-index: 1;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #333;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.skip_navi a:hover, .skip_navi a:focus {
  top: 0;
}

header {
  height: 80px;
}
header .container {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0 140px;
}
header .gnbwrap ul {
  display: flex;
}

.contents.main .main_visualwrap {
  width: 100%;
  height: 770px;
}
.contents.main .main_visualwrap .bgslide {
  width: 100%;
  height: 100%;
  position: relative;
}
.contents.main .main_visualwrap .bgslide .mv01 {
  background: lemonchiffon;
}
.contents.main .main_visualwrap .bgslide .mv02 {
  background: sandybrown;
}
.contents.main .main_visualwrap .bgslide .mv03 {
  background: seagreen;
}
.contents.main .main_visualwrap .bgslide .mv_conwrap {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 55;
}
.contents.main .main_visualwrap .bgslide .mv_conwrap h2 {
  padding: 100px 25px 0;
  width: 550px;
  font-size: 80px;
  font-weight: 200;
  letter-spacing: -13px;
  margin-bottom: 35px;
}
.contents.main .main_visualwrap .bgslide .mv_conwrap h2 span {
  display: block;
  line-height: 80px;
}
.contents.main .main_visualwrap .bgslide .mv_conwrap h2 span em {
  font-weight: 500;
  color: #007aff;
}
.contents.main .main_visualwrap .bgslide .mv_conwrap h2 span.mv_eng {
  font-size: 46px;
  font-weight: 100;
  letter-spacing: 0.5px;
  line-height: 56px;
}
.contents.main .main_visualwrap .bgslide .mv_conwrap .needflex {
  padding: 0 25px;
  width: 550px;
  justify-content: space-between;
  align-items: center;
}
.contents.main .main_visualwrap .bgslide .mv_conwrap .needflex .swiper-pagination {
  position: static;
  display: flex;
  align-items: center;
}
.contents.main .main_visualwrap .bgslide .mv_conwrap .needflex .swiper-pagination .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
}
.contents.main .main_visualwrap .bgslide .mv_conwrap .needflex .swiper-pagination .swiper-pagination-bullet-active {
  width: 64px;
  border-radius: 40px;
}
.contents.main .main_visualwrap .bgslide .mv_conwrap .needflex a {
  font-size: 24px;
  color: #222;
  border-bottom: 1px solid #222;
  padding-bottom: 7px;
}
.contents.main .qmenuwrap .container {
  width: 100%;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  position: relative;
  z-index: 55;
  top: -80px;
  display: flex;
  align-items: center;
  padding: 45px 0;
}
.contents.main .qmenuwrap .container > p {
  margin-left: 75px;
}
.contents.main .qmenuwrap .container > p::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 100%;
  background: #007aff;
  margin-left: 75px;
}
.contents.main .qmenuwrap .container .swiperQmenu {
  padding: 0 50px;
}
.contents.main .noticewrap .container {
  gap: 0 2%;
}
.contents.main .noticewrap .container > div {
  flex: 0 0 49%;
}
.contents.main .noticewrap .div_left ul li {
  border-bottom: 11px solid transparent;
}
.contents.main .noticewrap .div_left ul li.active {
  border-color: #007aff;
}/*# sourceMappingURL=default.css.map */