@charset "UTF-8";
@font-face {
  font-family: "SUIT-SB";
  src: url("../fonts/SUIT-SemiBold.eot");
  src: url("../fonts/SUIT-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SUIT-SemiBold.woff2") format("woff2"), url("../fonts/SUIT-SemiBold.woff") format("woff"), url("../fonts/SUIT-SemiBold.ttf") format("truetype"), url("../fonts/SUIT-SemiBold.svg#SUIT-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SUIT-B";
  src: url("../fonts/SUIT-Bold.eot");
  src: url("../fonts/SUIT-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SUIT-Bold.woff2") format("woff2"), url("../fonts/SUIT-Bold.woff") format("woff"), url("../fonts/SUIT-Bold.ttf") format("truetype"), url("../fonts/SUIT-Bold.svg#SUIT-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SUIT-R";
  src: url("../fonts/SUIT-Regular.eot");
  src: url("../fonts/SUIT-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SUIT-Regular.woff2") format("woff2"), url("../fonts/SUIT-Regular.woff") format("woff"), url("../fonts/SUIT-Regular.ttf") format("truetype"), url("../fonts/SUIT-Regular.svg#SUIT-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/********* reset.css **********/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ul,
ol,
li,
form,
fieldset,
legend,
label,
input,
button,
select,
textarea,
header,
main,
footer,
section,
article,
aside,
menu,
nav,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
summary,
figure,
figcaption,
hgroup {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.4;
  color: #000;
  font-family: "SUIT-R";
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: normal;
}

ul,
ol,
li {
  list-style-type: none;
}

/* ul:after,
ol:after,
dl:after {
    display: block;
    clear: both;
    content: "";
} */
a {
  color: inherit;
  text-decoration: none;
  display: block;
}

img {
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}

p {
  max-height: 9999px;
}

address {
  font-style: normal;
}

button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0 none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  cursor: pointer;
}

caption,
legend {
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  margin: -1px;
}

.hide {
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  margin: -1px;
  position: absolute;
  left: 0;
  right: 0;
}

.clear {
  clear: both;
  display: block;
  content: "";
  overflow: hidden;
}

.br {
  display: block;
}

table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

select::-ms-expand {
  display: none;
}

input::-ms-check {
  display: none;
}

form {
  display: block;
  width: 100%;
}

input,
select,
textarea {
  padding: 0 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  width: 100%;
  display: block;
  border: 0;
  font-family: inherit;
}

.ml10 {
  margin-left: 10px;
}

.ml20 {
  margin-left: 20px;
}

.ml25 {
  margin-left: 25px;
}

.ml30 {
  margin-left: 30px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt50 {
  margin-top: 50px;
}

.mr40 {
  margin-right: 40px;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb120 {
  margin-bottom: 120px;
}

.pt40 {
  padding-top: 40px !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.pl20 {
  padding-left: 20px !important;
}

.fr_wrap {
  height: 50px;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.bo_l {
  border-left: 1px solid #999999;
}

.bo_r {
  border-right: 1px solid #999999;
}

.bo_t_blue {
  border-top: 2px solid #7aa0ff !important;
}

.fs22 {
  font-size: 22px;
}

.needflex {
  display: flex;
}

.needgrid {
  display: grid;
}

/*clear*/
/*요소중앙정렬*/
/*아이템 정렬*/
#wrap {
  min-height: 100vh;
}

.wrapper {
  position: relative;
}
.wrapper.modaled {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}
@media screen and (max-width: 1260px) {
  .container {
    margin-right: 30px;
    margin-left: 30px;
  }
}
@media screen and (max-width: 720px) {
  .container {
    margin-right: 13px;
    margin-left: 13px;
  }
}

.skip_navi {
  position: absolute;
  z-index: 9999;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
}
.skip_navi a {
  display: block;
  position: absolute;
  left: 0;
  top: -9999px;
  z-index: 1;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #333;
  color: #fff;
  font-size: 20px;
}
.skip_navi a:hover, .skip_navi a:focus {
  top: 0;
}

header {
  width: 100%;
  height: 80px;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: #fff;
}
header.scrolled {
  background: #fff;
  box-shadow: 0 0 1px #000;
}
header.scrolled .gnbwrap li a {
  color: #888;
}
@media (hover: hover) {
  header.scrolled .gnbwrap li:hover a {
    color: #000;
  }
}
header.scrolled .gnbwrap li.active a {
  color: #000;
}
header.scrolled .utilwrap .search_btn {
  background: url(../images/hdr_search_btn_b.png) no-repeat center center;
}
header.scrolled .utilwrap .menu_btn {
  background: url(../images/hdr_menu_btn_b.png) no-repeat center center;
}
header > div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 80px;
}
header .logowrap {
  flex-shrink: 0;
  width: 250px;
}
header .gnbwrap {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}
header .gnbwrap ul {
  display: flex;
  align-items: center;
  gap: 0 80px;
  font-family: "SUIT-B";
  font-size: 20px;
}
header .gnbwrap ul::after {
  content: none;
}
header .gnbwrap ul li a {
  color: #999;
  display: block;
}
@media (hover: hover) {
  header .gnbwrap ul li:hover a {
    color: #000;
  }
}
header .gnbwrap ul li.active a {
  color: #000;
}
header .utilwrap {
  display: flex;
  gap: 0 30px;
  width: 250px;
  justify-content: flex-end;
}
header .utilwrap > div {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
header .utilwrap > div.search_btn {
  background: url(../images/hdr_search_btn_b.png) no-repeat center center;
}
header .utilwrap > div.menu_btn {
  background: url(../images/hdr_menu_btn_b.png) no-repeat center center;
}

footer {
  border-top: 1px solid #000;
}
footer .footer_top {
  background: #efefef;
  padding: 15px 0;
}
footer .footer_top .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer_top .container .ftt_left {
  gap: 0 32px;
}
footer .footer_top .container .ftt_left li {
  position: relative;
  font-family: "SUIT-R";
}
footer .footer_top .container .ftt_left li::after {
  content: "/";
  position: absolute;
  right: -18px;
  top: 50%;
  transform: translateY(-50%);
}
footer .footer_top .container .ftt_left li:last-child::after {
  display: none;
}
footer .footer_top .container .ftt_left::after {
  content: none;
}
footer .footer_top .container .ftt_right {
  gap: 0 10px;
  width: 61.56%;
}
footer .footer_top .container .ftt_right .ulsel.rvs {
  width: 33%;
  height: 44px;
  position: relative;
}
footer .footer_top .container .ftt_right .ulsel.rvs button {
  color: #000;
  padding: 0 20px 0 17px;
  border: 1px solid #999;
  border-radius: unset;
}
footer .footer_top .container .ftt_right .ulsel.rvs button::after {
  content: "";
  transition: 0.3s;
  width: 13px;
  height: 13px;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 20px;
  background: url(../images/footer_select_up.png) no-repeat center center;
}
footer .footer_top .container .ftt_right .ulsel.rvs button.open::after {
  transform: translateY(-50%) rotate(180deg);
}
footer .footer_top .container .ftt_right .ulsel.rvs > ul {
  position: absolute;
  bottom: calc(100% + 2px);
  border-radius: unset;
  border: 1px solid rgba(0, 0, 0, 0.6);
  background: #fff;
  width: 100%;
  font-size: 15px;
  display: none;
}
footer .footer_btm {
  background: unset;
}
footer .footer_btm .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px 0;
}
footer .footer_btm .container ul {
  display: flex;
}
footer .footer_btm .container ul.ftb_left {
  flex-wrap: wrap;
  gap: 0 22px;
  width: 80%;
}
footer .footer_btm .container ul.ftb_left li {
  position: relative;
}
footer .footer_btm .container ul.ftb_left li:nth-child(3):after {
  display: none;
}
footer .footer_btm .container ul.ftb_left li:last-child {
  width: 100%;
  color: #666;
}
footer .footer_btm .container ul.ftb_left li:last-child:after {
  display: none;
}
footer .footer_btm .container ul.ftb_left li::after {
  content: "/";
  position: absolute;
  right: -14px;
  top: 50%;
  transform: translateY(-50%);
}
footer .footer_btm .container ul.ft_sns {
  gap: 16px;
}
footer .footer_btm .container ul.ft_sns li {
  width: 30px;
  height: 29px;
}
footer .footer_btm .container ul.ft_sns li a {
  width: 100%;
  height: 100%;
}
footer .footer_btm .container ul.ft_sns li a.insta_ico {
  background: url(../images/footer_sns.png) center;
  background-position-x: 0;
}
footer .footer_btm .container ul.ft_sns li a.fb_ico {
  background: url(../images/footer_sns.png) center;
  background-position-x: -45px;
}
footer .footer_btm .container ul.ft_sns li a.twt_ico {
  background: url(../images/footer_sns.png) center;
  background-position-x: -87px;
}

.ta_l {
  text-align: left;
}

.ta_c {
  text-align: center;
}

.ta_r {
  text-align: right;
}

.ulsel {
  width: 300px;
  height: 50px;
  font-size: 16px;
}
.ulsel > button {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 35px;
  padding: 0 30px 0 22px;
  text-align: left;
  word-break: keep-all;
  color: #fff;
  position: relative;
}
.ulsel > button::after {
  content: "";
  transition: 0.3s;
  width: 18px;
  height: 18px;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 20px;
  background: url(../images/lnb_select_down.png) no-repeat center center;
}
.ulsel > button.open::after {
  transform: translateY(-50%) rotate(180deg);
}
.ulsel > ul {
  position: relative;
  z-index: 6;
  bottom: -2px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  background: #fff;
  width: 100%;
  padding: 5px 0;
  font-size: 15px;
  display: none;
}
.ulsel > ul li {
  padding: 5px 24px;
}

.tablewrap {
  overflow-x: auto;
  border-top: 1px solid #13523b;
  border-bottom: 1px solid #ccc;
}
.tablewrap table {
  min-width: 1000px;
  border-collapse: collapse;
}
.tablewrap table thead tr {
  background: #f1f5f3;
}
.tablewrap table thead tr th,
.tablewrap table thead tr td {
  text-align: center;
  font-size: 16px;
  font-family: "SUIT-SB";
  padding: 20px 0;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.tablewrap table thead tr th:last-of-type,
.tablewrap table thead tr td:last-of-type {
  border-right: unset;
}
.tablewrap table tbody tr th:last-of-type, .tablewrap table tbody tr td:last-of-type {
  border-right: unset;
}
.tablewrap table tbody tr th, .tablewrap table tbody tr td {
  font-size: 16px;
  padding: 20px 0;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.tablewrap table tbody tr th b, .tablewrap table tbody tr td b {
  display: block;
  font-size: 20px;
  margin-bottom: 16px;
  color: #000;
}
.tablewrap table tbody tr th:last-of-type, .tablewrap table tbody tr td:last-of-type {
  border-right: unset;
}
.tablewrap table tbody tr th {
  text-align: center;
  font-family: "SUIT-SB";
  color: #000;
  background: #f1f5f3;
}
.tablewrap table tbody tr td {
  color: #333;
  font-family: "SUIT-R";
}
.tablewrap .bd_r {
  border-right: 1px solid #eee !important;
}

.btnwrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
}
.btnwrap.jcfs {
  justify-content: flex-start;
}
.btnwrap button {
  flex-shrink: 0;
}

.pbl_btn {
  width: 225px;
  padding: 13px 0;
  border: 2px solid #587533;
  color: #587533;
  border-radius: 4px;
  font-size: 20px;
  font-family: "SUIT-SB";
}

.dl_btn {
  display: flex;
  align-items: center;
  gap: 0 8px;
  border: 1px solid #ccc;
  color: #444;
  padding: 7px 12px;
  border-radius: 2px;
}
.dl_btn > span {
  width: 20px;
  height: 20px;
}
.dl_btn > span.hngl {
  background: url(../images/ico_hangeul.png) no-repeat center center;
}

.needblt {
  display: flex;
  align-items: flex-start;
}
.needblt::before {
  content: "";
  display: block;
  flex-shrink: 0;
}
.needblt.blt_leaf {
  gap: 0 12px;
}
.needblt.blt_leaf::before {
  width: 24px;
  height: 24px;
  background: url(../images/blt_leaf.png) no-repeat center center;
}
.needblt.blt_dot {
  gap: 0 4px;
}
.needblt.blt_dot::before {
  width: 16px;
  height: 22px;
  background: url(../images/blt_dot.png) no-repeat center center;
}
.needblt.blt_bar {
  gap: 0 4px;
}
.needblt.blt_bar::before {
  width: 16px;
  height: 22px;
  background: url(../images/blt_bar.png) no-repeat center center;
}
.needblt.blt_trngl {
  gap: 0 4px;
}
.needblt.blt_trngl::before {
  content: "▶";
  width: 16px;
  height: 22px;
}
.needblt.blnk {
  gap: 0 4px;
}
.needblt.blnk::before {
  width: 16px;
  height: 22px;
}

.m_menuwrap {
  display: none;
}

.sub_tab_list {
  width: 100%;
  height: 64px;
  display: flex;
  border-collapse: collapse;
}
.sub_tab_list > li {
  flex: 1 1 20%;
  vertical-align: middle;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background: #eee;
  color: #2d2d2d;
}
.sub_tab_list > li:not(:last-child) {
  border-right: none;
}
.sub_tab_list > li a {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub_tab_list > li.on {
  background: #13523b;
  border: 1px solid transparent;
}
.sub_tab_list > li.on a {
  color: #fff;
}

.sub_con_list .sub_tab_con {
  display: none;
}
.sub_con_list .sub_tab_con:nth-child(1) {
  display: block;
}

.sub_tab_list2,
.sub_tab_list2_1 {
  width: 100%;
  display: flex;
  gap: 0 48px;
  border-collapse: collapse;
  border-bottom: 2px solid #eeeeee;
}
.sub_tab_list2 > li,
.sub_tab_list2_1 > li {
  box-sizing: border-box;
  padding-bottom: 22px;
  font-family: "SUIT-SB";
}
.sub_tab_list2 > li:not(:last-child),
.sub_tab_list2_1 > li:not(:last-child) {
  border-right: none;
}
.sub_tab_list2 > li a,
.sub_tab_list2_1 > li a {
  color: #aaaaaa;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4px;
}
.sub_tab_list2 > li.on,
.sub_tab_list2_1 > li.on {
  position: relative;
}
.sub_tab_list2 > li.on a,
.sub_tab_list2_1 > li.on a {
  color: #13523b;
}
.sub_tab_list2 > li.on:after,
.sub_tab_list2_1 > li.on:after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  bottom: -2px;
  background: #13523b;
}

.sub_con_list2 .sub_tab_con2,
.sub_con_list2 .sub_tab_con2_1,
.sub_con_list2_1 .sub_tab_con2,
.sub_con_list2_1 .sub_tab_con2_1 {
  display: none;
}
.sub_con_list2 .sub_tab_con2:nth-child(1),
.sub_con_list2 .sub_tab_con2_1:nth-child(1),
.sub_con_list2_1 .sub_tab_con2:nth-child(1),
.sub_con_list2_1 .sub_tab_con2_1:nth-child(1) {
  display: block;
}

@media screen and (max-width: 1260px) {
  header {
    padding: 0 20px;
  }
  header > div {
    gap: 0 20px;
  }
  header .logowrap {
    width: 180px;
  }
  header .utilwrap {
    width: auto;
    gap: 0 15px;
  }
}
@media screen and (max-width: 980px) {
  header .gnbwrap {
    display: none;
  }
  footer .footer_top .container {
    flex-direction: column;
    gap: 15px 0;
  }
  footer .footer_top .container > .ftt_right {
    width: 100%;
  }
}
@media screen and (max-width: 720px) {
  header {
    height: 60px;
    padding: 0 15px;
  }
  header .logowrap {
    width: 150px;
  }
  header .gnbwrap {
    display: none;
  }
  footer .footer_top .container .ftt_left {
    font-size: 14px;
  }
  footer .footer_top .container .ftt_right {
    flex-direction: column;
    gap: 10px 0;
  }
  footer .footer_top .container .ftt_right .ulsel.rvs {
    width: 100%;
  }
  footer .footer_btm .container {
    padding: 20px 0;
    gap: 20px 0;
    flex-direction: column-reverse;
  }
  footer .footer_btm .container ul.ftb_left {
    width: 100%;
  }
}
.contents.main .main_visualwrap {
  width: 100%;
  height: 850px;
}
.contents.main .main_visualwrap .bgslide {
  width: 100%;
  height: 100%;
  position: relative;
}
.contents.main .main_visualwrap .bgslide .mv01 {
  background: url(../images/main_visual01.png) no-repeat center center;
}
.contents.main .main_visualwrap .bgslide .mv02 {
  background: url(../images/main_visual02.png) no-repeat center center;
}
.contents.main .main_visualwrap .bgslide .mv03 {
  background: url(../images/main_visual03.png) no-repeat center center;
}
.contents.main .main_visualwrap .bgslide .mv_conwrap {
  width: 100%;
  position: absolute;
  top: 80px;
  z-index: 55;
}
.contents.main .main_visualwrap .bgslide .mv_conwrap h2 {
  padding: 100px 25px 0;
  font-size: 80px;
  margin-bottom: 35px;
  font-family: "SUIT-R";
}
@media screen and (max-width: 720px) {
  .contents.main .main_visualwrap .bgslide .mv_conwrap h2 {
    width: 100%;
    font-size: 58px;
  }
}
.contents.main .main_visualwrap .bgslide .mv_conwrap h2 span {
  display: block;
  line-height: 80px;
}
.contents.main .main_visualwrap .bgslide .mv_conwrap h2 span em {
  font-family: "SUIT-B";
  color: #007aff;
}
.contents.main .main_visualwrap .bgslide .mv_conwrap h2 span.mv_eng {
  font-size: 46px;
  font-family: "SUIT-R";
  line-height: 56px;
}
@media screen and (max-width: 720px) {
  .contents.main .main_visualwrap .bgslide .mv_conwrap h2 span.mv_eng {
    font-size: 34px;
  }
}
.contents.main .main_visualwrap .bgslide .mv_conwrap .needflex {
  padding: 0 25px;
  width: 550px;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 720px) {
  .contents.main .main_visualwrap .bgslide .mv_conwrap .needflex {
    width: 100%;
  }
}
.contents.main .main_visualwrap .bgslide .mv_conwrap .needflex .swiper-pagination {
  position: static;
  display: flex;
  align-items: center;
}
.contents.main .main_visualwrap .bgslide .mv_conwrap .needflex .swiper-pagination .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
}
.contents.main .main_visualwrap .bgslide .mv_conwrap .needflex .swiper-pagination .swiper-pagination-bullet-active {
  width: 64px;
  border-radius: 40px;
}
.contents.main .main_visualwrap .bgslide .mv_conwrap .needflex a {
  font-family: "SUIT-B";
  font-size: 24px;
  color: #222;
  position: relative;
}
.contents.main .main_visualwrap .bgslide .mv_conwrap .needflex a::after {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #222;
}
.contents.main .qmenuwrap .container {
  background: #fff;
  box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  position: relative;
  z-index: 55;
  top: -120px;
  display: flex;
  align-items: center;
  padding: 45px 0;
}
@media screen and (max-width: 1260px) {
  .contents.main .qmenuwrap .container {
    flex-direction: column;
    padding: 25px 0;
  }
}
.contents.main .qmenuwrap .container .qm_txt {
  flex-grow: 1;
  box-sizing: border-box;
  text-align: center;
  color: #007aff;
  border-right: 2px solid #007aff;
  font-size: 48px;
  padding: 20px 0;
  line-height: 36px;
}
@media screen and (max-width: 1260px) {
  .contents.main .qmenuwrap .container .qm_txt {
    border-right: none;
  }
  .contents.main .qmenuwrap .container .qm_txt em {
    display: inline !important;
  }
}
.contents.main .qmenuwrap .container .qm_txt em {
  display: block;
  font-family: "SUIT-SB";
}
.contents.main .qmenuwrap .container .slidewrap {
  width: calc(100% - 300px);
  padding: 0 50px;
  display: flex;
  gap: 0 15px;
}
@media screen and (max-width: 1260px) {
  .contents.main .qmenuwrap .container .slidewrap {
    width: 100%;
    padding: 0 50px;
    gap: 0 10px;
  }
}
@media screen and (max-width: 720px) {
  .contents.main .qmenuwrap .container .slidewrap {
    padding: 0 20px;
    gap: 0 5px;
  }
}
.contents.main .qmenuwrap .container .slidewrap .qmenu-button-prev,
.contents.main .qmenuwrap .container .slidewrap .qmenu-button-next {
  flex-shrink: 0;
  width: 14px;
  display: block;
  height: 50px;
  flex-shrink: 0;
  background-image: url(../images/qmenu_arrow.png);
  background-repeat: no-repeat;
  align-self: center;
  cursor: pointer;
}
.contents.main .qmenuwrap .container .slidewrap .qmenu-button-prev {
  background-position: 0 center;
}
.contents.main .qmenuwrap .container .slidewrap .qmenu-button-next {
  background-position: right 0 center;
}
.contents.main .qmenuwrap .container .swiperQmenu {
  width: calc(100% - 48px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-grow: 1;
}
.contents.main .qmenuwrap .container .swiperQmenu .swiper-wrapper {
  top: 0;
  left: 0;
}
.contents.main .qmenuwrap .container .swiperQmenu .swiper-wrapper .swiper-slide {
  flex-shrink: 0;
  text-align: center;
}
.contents.main .qmenuwrap .container .swiperQmenu .swiper-wrapper .swiper-slide .imgwrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  margin-bottom: 24px;
}
.contents.main .qmenuwrap .container .swiperQmenu .swiper-wrapper .swiper-slide .imgwrap img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.contents.main .noticewrap {
  margin-bottom: 80px;
}
.contents.main .noticewrap .container {
  gap: 120px 40px;
  box-sizing: border-box;
}
@media screen and (max-width: 960px) {
  .contents.main .noticewrap .container {
    flex-wrap: wrap;
  }
  .contents.main .noticewrap .container > div {
    width: 100% !important;
  }
}
.contents.main .noticewrap .container > div {
  width: calc((100% - 40px) / 2);
  flex-shrink: 0;
}
.contents.main .noticewrap .div_left .tab_list {
  padding: 0 20px;
  gap: 0 10px;
  position: relative;
}
.contents.main .noticewrap .div_left .tab_list::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000;
  height: 1px;
  z-index: 5;
}
.contents.main .noticewrap .div_left .tab_list li {
  font-size: 22px;
  font-family: "SUIT-R";
  border-bottom: 11px solid transparent;
  width: 130px;
  height: 55px;
  text-align: center;
}
@media screen and (max-width: 720px) {
  .contents.main .noticewrap .div_left .tab_list li {
    font-size: 20px;
    line-height: 55px;
  }
}
.contents.main .noticewrap .div_left .tab_list li.active {
  font-size: 26px;
  border-color: #007aff;
  font-family: "SUIT-B";
  position: relative;
  z-index: 6;
}
@media screen and (max-width: 720px) {
  .contents.main .noticewrap .div_left .tab_list li.active {
    font-size: 22px;
  }
}
.contents.main .noticewrap .div_left .tab_list li a {
  display: block;
  width: 100%;
  height: 100%;
}
.contents.main .noticewrap .div_left .tab_con_list > div {
  display: none;
}
.contents.main .noticewrap .div_left .tab_con_list > div.active {
  display: block;
}
.contents.main .noticewrap .div_left .tab_con_list > div ul {
  border-bottom: 1px solid #bfbfbf;
}
@media (hover: hover) {
  .contents.main .noticewrap .div_left .tab_con_list > div ul li:hover {
    background: #f2f6ff;
  }
}
.contents.main .noticewrap .div_left .tab_con_list > div ul li {
  padding: 20px 0 20px 15px;
  border-bottom: 1px solid #bfbfbf;
}
.contents.main .noticewrap .div_left .tab_con_list > div ul li:last-of-type {
  border-bottom: unset;
}
.contents.main .noticewrap .div_left .tab_con_list > div ul li a {
  width: 100%;
  display: flex;
  align-items: center;
}
.contents.main .noticewrap .div_left .tab_con_list > div ul li a dl {
  width: calc(100% - 110px);
  flex-grow: 0;
  padding: 15px 5px 15px 0;
  border-right: 1px solid #bcbaba;
}
.contents.main .noticewrap .div_left .tab_con_list > div ul li a dl dt {
  font-size: 18px;
  font-family: "SUIT-B";
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 20px;
}
.contents.main .noticewrap .div_left .tab_con_list > div ul li a dl dd {
  min-height: 45px;
  word-break: keep-all;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.contents.main .noticewrap .div_left .tab_con_list > div ul li a time {
  flex: 0 0 110px;
  text-align: center;
  font-size: 14px;
}
.contents.main .noticewrap .div_left .tab_con_list > div ul li a time span {
  display: block;
}
.contents.main .noticewrap .div_right {
  min-height: 660px;
  display: flex;
  flex-direction: column;
}
.contents.main .noticewrap .div_right .noti_top {
  margin-bottom: 18px;
  position: relative;
  display: flex;
  align-items: center;
}
.contents.main .noticewrap .div_right .noti_top h4 {
  font-size: 26px;
  font-family: "SUIT-B";
}
.contents.main .noticewrap .div_right .noti_top .swiper-pagination {
  margin-left: auto;
  width: 90px;
  height: 20px;
  position: static;
}
.contents.main .noticewrap .div_right .noti_top .swiper-pagination .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
}
.contents.main .noticewrap .div_right .noti_con {
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 50px 40px;
}
@media screen and (max-width: 720px) {
  .contents.main .noticewrap .div_right .noti_con {
    padding: 40px 30px;
  }
}
.contents.main .noticewrap .div_right .noti_con .swiperNt {
  height: 100%;
  overflow: hidden;
}
.contents.main .noticewrap .div_right .noti_con .swiper-slide {
  width: 100%;
}
.contents.main .noticewrap .div_right .noti_con .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 50px;
  border-radius: 20px;
  background: #f2f6ff;
}
@media screen and (max-width: 720px) {
  .contents.main .noticewrap .div_right .noti_con .swiper-slide a {
    padding: 40px 30px;
  }
}
.contents.main .noticewrap .div_right .noti_con .swiper-slide a .noti_tit {
  font-size: 20px;
  font-family: "SUIT-B";
  color: #222;
  line-height: 30px;
  margin-bottom: 13px;
}
.contents.main .noticewrap .div_right .noti_con .swiper-slide a .noti_tit .noti_num {
  display: block;
  font-size: 26px;
  font-family: "SUIT-SB";
  color: #1281fe;
}
.contents.main .noticewrap .div_right .noti_con .swiper-slide a .imgwrap {
  margin-bottom: 28px;
}
.contents.main .newswrap {
  padding-top: 90px;
  padding-bottom: 80px;
  background: #eee;
}
.contents.main .newswrap .news-button-prev,
.contents.main .newswrap .news-button-next {
  position: absolute;
  top: 0;
  width: 14px;
  height: 30px;
  display: block;
  flex-shrink: 0;
  background-image: url(../images/qmenu_arrow.png);
  background-repeat: no-repeat;
  align-self: center;
  cursor: pointer;
  z-index: 99;
}
.contents.main .newswrap .news-button-prev {
  left: 200px;
  background-position: 0 center;
}
.contents.main .newswrap .news-button-next {
  right: 200px;
  background-position: right 0 center;
}
.contents.main .newswrap .sec_tit {
  font-size: 60px;
  font-family: "SUIT-SB";
  color: #222;
  text-align: center;
  margin-bottom: 30px;
}
.contents.main .newswrap .swiperNst {
  overflow: hidden;
  max-width: 760px;
  margin: 0 auto;
  margin-bottom: 10px;
  position: relative;
}
.contents.main .newswrap .newstab_list {
  display: flex;
  align-items: center;
}
.contents.main .newswrap .newstab_list li {
  font-size: 26px;
  text-align: center;
}
.contents.main .newswrap .newstab_list .swiper-slide-active {
  font-size: 30px;
  font-family: "SUIT-B";
}
.contents.main .newswrap .news_tab_con {
  overflow: hidden;
}
.contents.main .newswrap .newscon_list {
  width: 100%;
  display: flex;
}
.contents.main .newswrap .newscon_list li {
  width: 100%;
  display: none;
}
.contents.main .newswrap .newscon_list li.active {
  display: block;
}
.contents.main .newswrap .newscon_list li .newscon_item {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 40px;
  text-align: center;
}
.contents.main .newswrap .newscon_list li .newscon_item article {
  width: 32%;
  max-width: 400px;
}
.contents.main .newswrap .newscon_list li .newscon_item article a .imgwrap {
  margin-bottom: 16px;
}
.contents.main .newswrap .newscon_list li .newscon_item article a .atc_textwrap .atc_tag {
  display: block;
  width: 90px;
  height: 26px;
  line-height: 26px;
  background: #007aff;
  color: #fff;
  margin-bottom: 10px;
  font-family: "SUIT-R";
  font-size: 16px;
}
.contents.main .newswrap .newscon_list li .newscon_item article a .atc_textwrap .atc_tit {
  text-align: left;
  font-family: "SUIT-B";
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  margin-bottom: 15px;
  word-break: keep-all;
  min-height: 51px;
}
.contents.main .newswrap .newscon_list li .newscon_item article a .atc_textwrap time {
  text-align: left;
  display: block;
  font-size: 14px;
  font-family: "SUIT-B";
  color: #666;
}
.contents.main .sub_visualwrap {
  width: 100%;
  height: 580px;
}
.contents.main .sub_visualwrap .bgslide {
  width: 100%;
  height: 100%;
  position: relative;
}
.contents.main .sub_visualwrap .bgslide .swiper-wrapper {
  position: relative;
  z-index: 3;
}
.contents.main .sub_visualwrap .bgslide .txt_box {
  padding-top: 68px;
}
.contents.main .sub_visualwrap .bgslide h2 {
  color: #ffffff;
}
.contents.main .sub_visualwrap .bgslide h2 span {
  display: block;
  font-size: 40px;
}
.contents.main .sub_visualwrap .bgslide h2 span.sv_txt {
  font-size: 30px;
  margin-bottom: 28px;
}
.contents.main .sub_visualwrap .bgslide h2 em {
  font-family: "SUIT-R";
  font-size: 60px;
}
@media screen and (max-width: 720px) {
  .contents.main .sub_visualwrap .bgslide h2 span {
    font-size: 32px;
  }
  .contents.main .sub_visualwrap .bgslide h2 span.sv_txt {
    font-size: 24px;
  }
  .contents.main .sub_visualwrap .bgslide h2 em {
    font-size: 48px;
  }
}
.contents.main .sub_visualwrap .bgslide a.view_more {
  display: flex;
  align-items: center;
  width: 140px;
  background: #ffffff;
  justify-content: center;
  height: 42px;
  color: #007aff;
  border-radius: 21px;
  line-height: 150%;
}
.contents.main .sub_visualwrap .bgslide > .container {
  position: relative;
}
.contents.main .sub_visualwrap .bgslide > .container .swiper-pagination {
  position: absolute;
  width: unset;
  bottom: 56px;
  z-index: 5;
}
@media screen and (max-width: 720px) {
  .contents.main .sub_visualwrap .bgslide > .container .swiper-pagination {
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
  }
}
.contents.main .sub_visualwrap .bgslide > .container .swiper-pagination .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background: #d4d5d9;
  opacity: 1;
}
.contents.main .sub_visualwrap .bgslide > .container .swiper-pagination .swiper-pagination-bullet-active {
  width: 64px;
  background: #0044ff;
  border-radius: 40px;
}
.contents.main .sub_visualwrap .sv01 {
  background: url(../images/sub_visual01.png) no-repeat center center;
}
.contents.main .sub_visualwrap .sv02 {
  background: url(../images/sub_visual02.png) no-repeat center center;
}
.contents.main .sub_visualwrap .sv03 {
  background: url(../images/sub_visual03.png) no-repeat center center;
}

/* ----------------  NEWS 슬라이드 탭 메뉴 ---------------- */
.slide_tab .list {
  margin-bottom: 10px;
}
.slide_tab .list .tab_box {
  position: relative;
  margin: 0 auto;
  max-width: 890px;
  font-size: 0;
  overflow: hidden;
  transform: translate(0, 100px);
  opacity: 0;
}
@media screen and (max-width: 1080px) {
  .slide_tab .list .tab_box {
    margin: 0 auto 20px auto;
  }
}
.slide_tab .list .tab_box .btns_tab {
  width: 100%;
}
.slide_tab .list .tab_box .btns_tab .btns_tab_inner {
  white-space: nowrap; /* --------------------- 이전 사용자가 슬릭 사용하는 요소 -----------------------*/
}
.slide_tab .list .tab_box .btns_tab .btns_tab_inner .slide_item {
  padding: 0 20px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  opacity: 0.7;
  font-size: 28px;
  color: #000;
  cursor: pointer;
}
.slide_tab .list .tab_box .btns_tab .btns_tab_inner .slide_item a {
  margin-top: 1px;
}
.slide_tab .list .tab_box .btns_tab .btns_tab_inner .slide_item.active {
  font-weight: 600;
}
.slide_tab .list .tab_box .btns_tab .btns_tab_inner .slide_item.active a span {
  font-size: 30px;
}
@media screen and (max-width: 720px) {
  .slide_tab .list .tab_box .btns_tab .btns_tab_inner .slide_item {
    padding: 0 5px;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
  }
  .slide_tab .list .tab_box .btns_tab .btns_tab_inner .slide_item a {
    height: 58px;
  }
  .slide_tab .list .tab_box .btns_tab .btns_tab_inner .slide_item.active a span {
    font-size: 22px;
  }
}
.slide_tab .list .tab_box .btn_tabArrow {
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.slide_tab .list .tab_box .btn_tabArrow img {
  vertical-align: -26px;
}
.slide_tab .list .tab_box .btn_tabArrow_l {
  left: 30%;
}
.slide_tab .list .tab_box .btn_tabArrow_l img {
  padding-left: 7px;
  padding-top: 5px;
}
.slide_tab .list .tab_box .btn_tabArrow_r {
  right: 30%;
}
.slide_tab .list .tab_box .btn_tabArrow_r img {
  padding-left: 10px;
  padding-top: 5px;
}
.slide_tab .list .tab_box .count {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.slide_tab .list .tab_box .count > span {
  font-size: 16px;
  color: #888888;
}
.slide_tab .list .tab_box .count > span > span {
  color: #222;
}
.slide_tab .list .tab_box .count > span > span.current {
  opacity: 1;
}
.slide_tab .list .list_box .tabPanels .info_box.on {
  display: block;
}
.slide_tab .list .list_box .tabPanels .info_box {
  display: none;
  position: relative;
  left: 0;
  top: 0;
}
.slide_tab .list .list_box .tabPanels .info_box ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
@media screen and (max-width: 720px) {
  .slide_tab .list .list_box .tabPanels .info_box ul {
    gap: 20px;
  }
}
.slide_tab .list .list_box .tabPanels .info_box ul li a .imgwrap {
  margin-bottom: 16px;
}
.slide_tab .list .list_box .tabPanels .info_box ul li a .atc_textwrap .atc_tag {
  display: block;
  text-align: center;
  width: 90px;
  height: 26px;
  line-height: 26px;
  background: #007aff;
  color: #fff;
  margin-bottom: 10px;
  font-family: "SUIT-R";
  font-size: 16px;
}
.slide_tab .list .list_box .tabPanels .info_box ul li a .atc_textwrap .atc_tit {
  text-align: left;
  font-family: "SUIT-B";
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  margin-bottom: 15px;
  word-break: keep-all;
  min-height: 51px;
}
.slide_tab .list .list_box .tabPanels .info_box ul li a .atc_textwrap time {
  text-align: left;
  display: block;
  font-size: 14px;
  font-family: "SUIT-B";
  color: #666;
}
.slide_tab .list .list_box .tabPanels .info_box ul li a {
  transition: 0.6s;
}
.slide_tab .list .list_box .tabPanels .info_box ul li a .img {
  background: url(../images/icon_menu2_bg.png) no-repeat center;
  width: 147px;
  height: 140px;
  display: block;
  transition: 0.3s;
}
.slide_tab .list .list_box .tabPanels .info_box ul li a .img img {
  display: block;
  margin: auto;
  padding: 35px 0;
}
.slide_tab .list .list_box .tabPanels .info_box ul li a .img.bg_blue {
  background: url(../images/icon_menu2_bg_blue.png) no-repeat;
}
.slide_tab .list .list_box .tabPanels .info_box ul li a em {
  margin-top: 10px;
  text-align: center;
  display: block;
}
.slide_tab .list .list_box .tabPanels .info_box ul li:first-child {
  margin-left: 0;
}
.slide_tab .list .list_box .tabPanels .info_box ul li:last-child {
  margin-right: 0;
}
.slide_tab .list .list_box .tabPanels .info_box ul li:last-child a em {
  font-weight: 500;
}
@media (hover: hover) {
  .slide_tab .list .list_box .tabPanels .info_box ul li:hover {
    position: relative;
  }
  .slide_tab .list .list_box .tabPanels .info_box ul li:hover a .img {
    transform: translate(0, -10%);
  }
}
.slide_tab.on .list .tab_box {
  transform: translate(0, 0);
  opacity: 1;
  transition: transform 1s, opacity 1s;
  transition-delay: 0.1s;
}
.slide_tab.on .list .tab_box .count {
  transform: translate(0, 0);
  opacity: 1;
  transition: transform 1s, opacity 1s;
  transition-delay: 0.2s;
}
.slide_tab.on .list .tab_box ol li {
  transform: translate(0, 0);
  opacity: 1;
  transition: transform 0.8s, opacity 0.8s;
}
.slide_tab.on .list .tab_box ol li:nth-child(1) {
  transition-delay: 0.3s;
}
.slide_tab.on .list .tab_box ol li:nth-child(2) {
  transition-delay: 0.4s;
}
.slide_tab.on .list .tab_box ol li:nth-child(3) {
  transition-delay: 0.5s;
}
.slide_tab.on .list .tab_box ol li:nth-child(4) {
  transition-delay: 0.6s;
}
.slide_tab.on .list .tab_box ol li:nth-child(5) {
  transition-delay: 0.7s;
}
.slide_tab.on .list .tab_box ol li:nth-child(6) {
  transition-delay: 0.8s;
}

/* NEWS 텝메뉴 */
#news {
  background-color: #eeeeee;
}
#news h3 {
  font-size: 60px;
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}
#news h3 b {
  font-weight: 600;
}
#news .list .list_box .tabPanels .info_box ul {
  justify-content: center;
}
#news .list .list_box .tabPanels .info_box ul li {
  flex: 1 1 30%;
}
@media screen and (max-width: 1020px) {
  #news .list .list_box .tabPanels .info_box ul li {
    flex: 1 1 45%;
    min-width: 165px;
  }
}
#news .list .list_box .tabPanels .info_box ul li a img {
  width: 100%;
}
#news .list .list_box .tabPanels .info_box ul li a .txt_box {
  margin-top: 10px;
  height: 48px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.5;
}
.sub_commonwrap {
  margin-top: 80px;
  height: 200px;
  background: #000;
  position: relative;
}
@media screen and (max-width: 720px) {
  .sub_commonwrap {
    margin-top: 60px;
  }
}
.sub_commonwrap.sub01 {
  background: url(../images/sub_commonbg01.png) no-repeat center center;
}
.sub_commonwrap.sub01 > div::after {
  background: url(../images/sub_commonbg01.png) no-repeat center 35.5%;
}
.sub_commonwrap.sub02 {
  background: url(../images/sub_commonbg02.png) no-repeat center center;
}
.sub_commonwrap.sub02 > div::after {
  background: url(../images/sub_commonbg02.png) no-repeat center 35.5%;
}
.sub_commonwrap.sub03 {
  background: url(../images/sub_commonbg03.png) no-repeat center center;
}
.sub_commonwrap.sub03 > div::after {
  background: url(../images/sub_commonbg03.png) no-repeat center 35.5%;
}
.sub_commonwrap.sub04 {
  background: url(../images/sub_commonbg04.png) no-repeat center center;
}
.sub_commonwrap.sub04 > div::after {
  background: url(../images/sub_commonbg04.png) no-repeat center 35.5%;
}
.sub_commonwrap.sub05 {
  background: url(../images/sub_commonbg05.png) no-repeat center center;
}
.sub_commonwrap.sub05 > div::after {
  background: url(../images/sub_commonbg05.png) no-repeat center 35.5%;
}
.sub_commonwrap .bg_blend {
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
}
.sub_commonwrap .sub_titwrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sub_commonwrap .sub_titwrap h2 {
  width: 810px;
  font-size: 40px;
  display: block;
  font-family: "SUIT-B";
  color: #fff;
}
.sub_commonwrap .sub_titwrap p {
  margin-top: 12px;
  font-size: 24px;
  font-family: "SUIT-R";
  opacity: 0.8;
}

.lnbwrap {
  width: 100%;
  height: 52px;
  background: #83955a;
}
.lnbwrap .container {
  display: flex;
  gap: 0 16px;
  align-items: center;
}
.lnbwrap .container > div {
  display: flex;
  gap: 0 1px;
  margin-right: auto;
}
.lnbwrap .container > div > button {
  width: 52px;
  height: 52px;
  background: #8da656;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lnbwrap .container > div > button::after {
  content: "";
  width: 18px;
  height: 18px;
  background: url(../images/lnb_home.png) no-repeat center center;
}
.lnbwrap .container > div .ulsel {
  width: 320px;
  height: 52px;
}
.lnbwrap .container > div .ulsel > button {
  padding: 0 15px;
  border: none;
  background: #8da656;
  border-radius: unset;
}
.lnbwrap .container > div .ulsel > button::after {
  width: 20px;
  height: 20px;
  right: 15px;
}
.lnbwrap .container > div .ulsel > ul {
  border-radius: unset;
  bottom: unset;
  border: unset;
  box-shadow: 0 0 1px #999;
}
.lnbwrap .container > button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #8fc664;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -88px;
}
.lnbwrap .container > button::after {
  content: "";
  width: 100%;
  height: 100%;
}
.lnbwrap .container > button.home::after {
  background: url(../images/lnb_home.png) no-repeat center center;
}
.lnbwrap .container > button.share::after {
  background: url(../images/lnb_share.png) no-repeat center center;
}
.lnbwrap .container > button.print::after {
  background: url(../images/lnb_print.png) no-repeat center center;
}

.mb8 {
  margin-bottom: 8px !important;
}

.mb12 {
  margin-bottom: 12px !important;
}

.mb16 {
  margin-bottom: 16px !important;
}

.mb24 {
  margin-bottom: 24px !important;
}

.mb56 {
  margin-bottom: 56px !important;
}

.mb80 {
  margin-bottom: 80px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.fc_grn {
  color: #608d00;
}

.contents.sub {
  padding-top: 80px;
  margin-bottom: 120px;
}
.contents.sub h3 {
  font-family: "SUIT-SB";
  font-size: 48px;
  color: #13523b;
  margin-bottom: 80px;
}
.contents.sub h4 {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-family: "SUIT-SB";
  margin-bottom: 24px;
  color: #000;
}
.contents.sub h5 {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-bottom: 16px;
  color: #000;
}
.contents.sub .body01 {
  font-size: 16px;
  color: #333;
  margin-bottom: 12px;
}
.contents.sub .body01:last-of-type {
  margin-bottom: unset;
}
.contents.sub .body02 {
  font-size: 16px;
  color: #666;
  margin-bottom: 8px;
}
.contents.sub .body02:last-of-type {
  margin-bottom: unset;
}
.contents.sub .cpt {
  font-size: 16px;
  color: #666;
  position: relative;
  top: -4px;
}

.exhb_slide {
  overflow: hidden;
  margin-bottom: 80px;
}

article .artcl_tit {
  font-size: 40px;
  font-family: "SUIT-B";
  text-align: center;
  margin-bottom: 40px;
}
article .artclinfo_list > li {
  display: flex;
  align-items: flex-start;
  gap: 0 80px;
  margin-bottom: 40px;
}
article .artclinfo_list > li:last-child {
  margin-bottom: unset;
}
article .artclinfo_list > li > span {
  display: block;
  width: 128px;
  flex-shrink: 0;
  color: #444;
  border: 3px solid #6b80ff;
  border-radius: 20px;
  text-align: center;
  padding: 7px 0;
}
article .artclinfo_list > li p {
  align-self: center;
}
article .artclinfo_list > li .logo_list {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px 0;
}
article .artclinfo_list > li .logo_list > li {
  width: 25%;
  height: 38px;
  flex-shrink: 0;
  border: 1px solid red;
}

.sub_tab_con article > div figure {
  width: 40%;
}
.sub_tab_con article > div .con_txt {
  width: 60%;
}

.program_info li a {
  padding: 10px;
}
.program_info li .program_detail {
  display: none;
  padding: 50px;
  border: 1px solid #eee;
  border-radius: 20px;
}
.program_info li.active a {
  color: #13523b;
  font-weight: 600;
}

.sub_con_list2 .con_wrap .flex_wrap,
.sub_con_list2_1 .con_wrap .flex_wrap {
  justify-content: space-between;
}
.sub_con_list2 .con_wrap .flex_wrap .txt_wrap,
.sub_con_list2_1 .con_wrap .flex_wrap .txt_wrap {
  width: 65%;
}
.sub_con_list2 .con_wrap .flex_wrap .con_wrap_img,
.sub_con_list2_1 .con_wrap .flex_wrap .con_wrap_img {
  width: 30%;
  display: block;
}

.img_wrap {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 32px;
}
.img_wrap > figure {
  flex: 0 1 calc((100% - 64px) / 3);
  text-align: center;
}
.img_wrap > figure:only-of-type {
  margin: 0 auto;
}
.space_wrap {
  padding: 80px 0 70px 0;
  background: #f7f7f8;
}
.space_wrap .spc_idx_wrap {
  width: 45%;
}
.space_wrap .spc_idx_wrap .spc_idx {
  flex-direction: column;
  gap: 20px 0;
  flex-wrap: wrap;
  height: 290px;
  width: 73%;
}
.space_wrap .spc_idx_wrap .spc_idx li {
  width: 50%;
}
.space_wrap .spc_idx_wrap .spc_idx li a {
  display: flex;
  gap: 0 8px;
}
.space_wrap .spc_idx_wrap .spc_idx li a b {
  border-bottom: 1px solid transparent;
}
.space_wrap .spc_idx_wrap .spc_idx li a span {
  font-family: "SUIT-SB";
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c6e481;
  border-radius: 8px;
  width: 24px;
}
.space_wrap .spc_idx_wrap .spc_idx li.on a {
  color: #13523b;
  font-family: "SUIT-SB";
}
.space_wrap .spc_idx_wrap .spc_idx li.on a b {
  border-bottom: 1px solid #13523b;
}
.space_wrap figure {
  width: 55%;
}

.swiperwrap {
  position: relative;
}
.swiperwrap .swiper-button-next {
  right: -72px;
  width: 48px;
  height: 48px;
  background: url(../images/sub_next_btn.png);
}
.swiperwrap .swiper-button-next::after {
  content: none;
}
.swiperwrap .swiper-button-prev {
  left: -72px;
  width: 48px;
  height: 48px;
  background: url(../images/sub_prev_btn.png);
}
.swiperwrap .swiper-button-prev::after {
  content: none;
}

.sub_tab_con .needflex.twins > article {
  width: 49%;
  flex-shrink: 0;
}
.iframewrap {
  text-align: center;
  margin: 0 auto;
}

.board .faq_list .brd_ctgr {
  flex: 0 0 20%;
}
.board .faq_list .brd_title {
  flex: 0 0 80% !important;
}
.board .faq_list .brd_aswr {
  display: none;
  padding: 50px 50px 50px 20%;
  border: 1px solid #eee;
  border-radius: 20px;
}
.board .faq_list.active a {
  color: #13523B;
  font-weight: 600;
}

.board .brd_top {
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 30px;
}
.board .brd_top .brd_tl {
  gap: 40px;
}
.board .brd_top .brd_tl span {
  font-family: "SUIT-SB";
  position: relative;
}
.board .brd_top .brd_tl span:first-child:after {
  position: absolute;
  content: "";
  right: -23px;
  width: 2px;
  height: 18px;
  background: #000000;
}
.board .brd_top .brd_tr {
  align-items: center;
  gap: 10px;
}
.board select {
  border: 1px solid #999999;
  padding: 0px 20px;
  height: 35px;
  font-family: "SUIT-B";
  background: url(../images/board_slt.png) no-repeat 90% center;
  width: 140px;
}
.board .brd_search_bar {
  gap: 10px;
  margin-right: 10px;
}
.board .brd_search_bar input {
  border: 1px solid #999999;
  padding: 0 10px;
  height: 35px;
  width: 260px;
  background: url(../images/board_sch_ico.png) no-repeat 95% center;
  font-size: 16px;
}
.board .brd_search_bar input::-moz-placeholder {
  color: #aaaaaa;
}
.board .brd_search_bar input::placeholder {
  color: #aaaaaa;
}
.board .brd_search_bar .brd_search_btn {
  width: 120px;
  background: #5992ff;
  color: #ffffff;
  font-family: "SUIT-SB";
}
.board .brd_list {
  font-family: "SUIT-R";
}
.board .brd_list ul {
  border-top: 2px solid #5992ff;
}
.board .brd_list ul li {
  border-bottom: 1px solid #999999;
}
.board .brd_list ul li div {
  min-height: 55px;
  display: flex;
  text-align: center;
  align-items: center;
}
.board .brd_list ul li div.brd_hd p {
  font-family: "SUIT-b";
}
.board .brd_list ul li div.brd_hd .brd_title {
  text-align: center;
}
.board .brd_list ul li div p {
  flex: 1;
}
.board .brd_list ul li div p.brd_title {
  flex: 0 0 40%;
  text-align: left;
}
.board .brd_list ul li div p.brd_title a {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.board .brd_list ul li div p.brd_title .notice {
  padding: 0 2px;
  margin-right: 10px;
  border: 1px solid #000;
}
.board .brd_list ul li div p.brd_file {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.board .brd_list ul li div p.brd_file button {
  width: 24px;
  height: 32px;
}
.board .brd_list ul li div p.brd_file button.doc {
  background: url(../images/doc.png) no-repeat center center;
}
.board .brd_list ul li div p.brd_file button.xls {
  background: url(../images/xls.png) no-repeat center center;
}
.board .brd_list ul li div p.brd_file button.pdf {
  background: url(../images/pdf.png) no-repeat center center;
}
.board .brd_list ul li div p.brd_file button.zip {
  background: url(../images/zip.png) no-repeat center center;
}
.board .brd_list.thmb ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  border-top: unset;
}
@media screen and (max-width: 960px) {
  .board .brd_list.thmb ul {
    gap: 15px;
  }
}
.board .brd_list.thmb ul li {
  flex: 0 1 calc((100% - 40px) / 3);
  border-bottom: unset;
}
@media screen and (max-width: 960px) {
  .board .brd_list.thmb ul li {
    flex: 0 1 calc((100% - 15px) / 2);
  }
}
.board .brd_list.thmb ul li a .imgwrap {
  border: 1px solid #000;
  width: 100%;
  padding-bottom: 50%;
  position: relative;
  display: inherit;
}
.board .brd_list.thmb ul li a .imgwrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.board .brd_list.thmb ul li a dl {
  padding: 10px;
}
.board .brd_list.thmb ul li a dl dt {
  font-family: "SUIT-SB";
  font-size: 18px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-bottom: 8px;
}
.board .brd_list.thmb ul li a dl dd {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.pagination_wrap {
  margin-top: 52px;
}
.pagination_wrap .pagination {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 32px;
  gap: 0 30px;
}
.pagination_wrap .pagination > button {
  display: inline-block;
  min-width: 20px;
  flex-shrink: 0;
  height: 30px;
}
.pagination_wrap .pagination > button.first_page {
  width: 32px;
  background: url(../images/btn_first_page.png) no-repeat center center/contain;
}
.pagination_wrap .pagination > button.prev_page {
  background: url(../images/btn_prev_page.png) no-repeat center center/contain;
  width: 21px;
}
.pagination_wrap .pagination > button.next_page {
  background: url(../images/btn_next_page.png) no-repeat center center/contain;
  width: 21px;
}
.pagination_wrap .pagination > button.last_page {
  background: url(../images/btn_last_page.png) no-repeat center center/contain;
  width: 32px;
}
.pagination_wrap .pagination ul {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0 26px;
}
.pagination_wrap .pagination ul > li:last-child {
  margin-right: 0;
}
.pagination_wrap .pagination ul > li a {
  display: flex;
  color: #444444;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "SUIT-SB";
}
.pagination_wrap .pagination ul > li a.active:after {
  position: absolute;
  content: "";
  width: 28px;
  height: 34px;
  border: 2px solid #5992ff;
  border-radius: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pagination_wrap .pagination ul > li a:last-child {
  margin-right: 0;
}

.greet {
  justify-content: space-between;
}
.greet .greet_img {
  width: 45%;
}
.greet .greet_txt {
  width: 53.5%;
}
.greet .greet_txt p {
  font-family: "SUIT-R";
  color: #000000;
}
.greet .greet_txt p.greet_p1 {
  font-family: "SUIT-B";
  font-size: 40px;
  color: #666666;
  margin-bottom: 34px;
}
.greet .greet_txt p.greet_p1 span {
  color: #004199;
}
.greet .greet_txt p.greet_p2 {
  margin-bottom: 20px;
}
.greet .greet_txt p.greet_p3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.mapwrap > div {
  width: 100%;
}/*# sourceMappingURL=default.css.map */